.alignleft {
	float: left;
	margin-right: 1.5rem;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: flex-start;
}

.alignright {
	float: right;
	margin-left: 1.5rem;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: flex-end;
}

.aligncenter {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: center;
}

.alignwide {
	width: var(--content-wide);
	max-width: calc(100% - var(--base-space));
}

.alignfull {
	width: 100%;
	max-width: none;
}
