@media (--md) {

	.alignleft {
		float: left;
		margin-right: 1.5rem;
	}

	.alignright {
		float: right;
		margin-left: 1.5rem;
	}
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.alignwide {
	margin-left: -0.5rem;
	width: 100vw;
	max-width: calc(100% + 1rem);

	@media (--md) {
		margin-left: calc(-5vw - 1rem);
		max-width: 90vw;
	}

	@media (--lg) {
		margin-left: calc(-10vw - 1rem);
		max-width: 80vw;
	}

	@media (--xl) {
		margin-left: calc(-10vw - 1rem);
		max-width: 60vw;
	}
}

.alignfull {
	margin-left: -1rem;
	padding-left: 0;
	padding-right: 0;
	width: 100vw;
	max-width: 100vw;

	@media (--md) {
		margin-left: calc(-10vw - 1rem);
	}

	@media (--lg) {
		margin-left: calc(-20vw - 1rem);
	}

	@media (--xl) {
		margin-left: calc(-30vw - 1rem);
	}
}
