/* #COLORS
\*------------------ */

/* Text Colors */
.u-text-color {
	color: var(--color-text);
}

.u-text-gray {
	color: var(--color-gray);
}

.u-text-silver {
	color: var(--color-silver);
}

.u-text-white {
	color: #fff;
}

.u-text-muted {
	color: var(--color-text-muted);
}

.u-text-1 {
	color: var(--color-1);
}

.u-text-2 {
	color: var(--color-2);
}

.u-text-1-dark {
	color: var(--color-1-dark);
}

.u-text-2-dark {
	color: var(--color-2-dark);
}

/* Background Colors */
.u-bg-1 {
	background-color: var(--color-1);
}

.u-bg-2 {
	background-color: var(--color-2);
}

.u-bg-1-light {
	background-color: var(--color-1-light);
}

.u-bg-2-light {
	background-color: var(--color-2-light);
}

.u-bg-1-dark {
	background-color: var(--color-1-dark);
}

.u-bg-2-dark {
	background-color: var(--color-2-dark);
}

.u-bg-black {
	background-color: #000;
}

.u-bg-gray {
	background-color: var(--color-gray);
}

.u-bg-silver {
	background-color: var(--color-silver);
	color: var(--color-text);
}

.u-bg-white {
	background-color: #fff;
	color: var(--color-text);
}

/* Alerts */
.u-bg-info {
	background-color: var(--color-info-light);
	color: var(--color-info-dark);
	border-color: color-mod(var(--color-info-dark) a(0.3));
}

.u-bg-success {
	background-color: var(--color-success-light);
	color: var(--color-success-dark);
	border-color: color-mod(var(--color-success-dark) a(0.3));
}

.u-bg-warning {
	background-color: var(--color-warning-light);
	color: var(--color-warning-dark);
	border-color: color-mod(var(--color-warning-dark) a(0.3));
}

.u-bg-transparent {
	background-color: transparent;
}

.u-bg-frost-1 {
	background-color: var(--color-frost-1);
}

.u-bg-frost-2 {
	background-color: var(--color-frost-2);
}

.u-bg-frost-3 {
	background-color: var(--color-frost-3);
}

.u-bg-frost-4 {
	background-color: var(--color-frost-4);
}

.u-bg-tint-1 {
	background-color: var(--color-tint-1);
}

.u-bg-tint-2 {
	background-color: var(--color-tint-2);
}

.u-bg-tint-3 {
	background-color: var(--color-tint-3);
}

.u-bg-tint-4 {
	background-color: var(--color-tint-4);
}

.u-hover-frost:hover {
	background-color: var(--color-frost-2);
}

.u-hover-tint:hover {
	background-color: var(--color-tint-2);
}

/* Fill Colors */
.u-fill-1 {
	fill: var(--color-1);
}

.u-fill-2 {
	fill: var(--color-2);
}

.u-fill-1-light {
	background-color: var(--color-1-light);
}

.u-fill-2-light {
	background-color: var(--color-2-light);
}

.u-fill-1-dark {
	background-color: var(--color-1-dark);
}

.u-fill-2-dark {
	background-color: var(--color-2-dark);
}

.has-pale-pink-background-color {
	background-color: $pink2;
}

.has-vivid-red-background-color {
	background-color: $red5;
}

.has-luminous-vivid-orange-background-color {
	background-color: $orange5;
}

.has-luminous-vivid-amber-background-color {
	background-color: $yellow5;
}

.has-light-green-cyan-background-color {
	background-color: $cyan3;
}

.has-vivid-green-cyan-background-color {
	background-color: $teal4;
}

.has-pale-cyan-blue-background-color {
	background-color: $blue2;
}

.has-vivid-cyan-blue-background-color {
	background-color: $blue5;
}

.has-very-light-gray-background-color {
	background-color: $gray1;
}

.has-cyan-bluish-gray-background-color {
	background-color: #abb8c3;
}

.has-very-dark-gray-background-color {
	background-color: $gray8;
}

.has-pale-pink-color {
	color: $pink2;
}

.has-vivid-red-color {
	color: $red5;
}

.has-luminous-vivid-orange-color {
	color: $orange5;
}

.has-luminous-vivid-amber-color {
	color: $yellow5;
}

.has-light-green-cyan-color {
	color: $cyan3;
}

.has-vivid-green-cyan-color {
	color: $teal4;
}

.has-pale-cyan-blue-color {
	color: $blue2;
}

.has-vivid-cyan-blue-color {
	color: $blue5;
}

.has-very-light-gray-color {
	color: $gray1;
}

.has-cyan-bluish-gray-color {
	color: #abb8c3;
}

.has-very-dark-gray-color {
	color: $gray8;
}
