/* #HELPERS
\*------------------------------------ */

.u-color-inherit,
.u-color-inherit * {
	color: inherit;
}

.u-link.u-link {
	background-image: linear-gradient(0deg, transparent, transparent 1px, var(--color-link) 0, var(--color-link) 2px, transparent 0);
}

/* Opacity */
.u-opacity {
	opacity: var(--opacity);
}

.u-opacity1 {
	opacity: 1;
}

.hidden {
	display: none;
}

/**
 * Makes elements visually invisible but still accessible to screen-readers.
 *
 * This Css has been carefully tested to ensure screen-readers can read and
 * activate (in case of links and buttons) the elements with this class. Please
 * use caution when changing anything, even seemingly safe ones. For example
 * changing width from 1 to 0 would prevent TalkBack from activating (clicking)
 * buttons despite TalkBack reading them just fine. This is because
 * element needs to have a defined size and be on viewport otherwise TalkBack
 * does not allow activation of buttons.
 *
 * https://github.com/ampproject/amphtml/blob/master/css/ampshared.css
 */
.screen-reader-text.screen-reader-text:not(:active):not(:focus) {
	position: fixed;

	/* keep it on viewport */
	top: 0 !important;
	left: 0 !important;

	/* give it non-zero size, VoiceOver on Safari requires at least 2
	   pixels before allowing buttons to be activated. */
	width: 2px;
	height: 2px;

	/* visually hide it with overflow and opacity */
	opacity: 0 !important;
	overflow: hidden !important;

	/* remove any margin or padding */
	border: none !important;
	margin: 0 !important;
	padding: 0 !important;

	/* ensure no other style sets display to none */
	display: block !important;
	visibility: visible !important;

	/* reset WP conventions */
	clip: auto;
	white-space: inherit;
}

.screen-reader-text:active,
.screen-reader-text:focus {
	height: auto;
	width: auto;
	margin: 0;
	overflow: visible;
	z-index: 100000;
}

.clear::before,
.clear::after {
	content: "";
	display: table;
}

.clear::after {
	clear: both;
}

.disabled {
	pointer-events: none;
	cursor: default;
	opacity: 0.5;
}

/* borders */
.u-border {
	border-width: 1px;
	border-style: solid;
	border-color: currentColor;
}

.u-border0 {
	border-width: 0;
}

.u-br {
	border-radius: var(--border-radius);
}

.u-br0 {
	border-radius: 0;
}

.u-round {
	border-radius: 50%;
}
