/* #UTILITY LAYOUT
\*------------------------------------ */

body.admin-bar {
	min-height: calc(100vh - 32px);
}

.u-content-wrap > * {
	width: calc(100% - var(--gutter));
	max-width: var(--content-width);
	margin-left: auto;
	margin-right: auto;
}

.u-content-wrap--wide > * {
	width: calc(100% - var(--gutter-half));
	max-width: var(--content-wide);
	margin-left: auto;
	margin-right: auto;
}

.u-inline {
	display: inline;
}

.u-block {
	display: block;
}

.u-inline-block {
	display: inline-block;
}

.u-hyphenate {
	overflow-wrap: break-word;
	hyphens: auto;
}

.u-left {
	float: left;
}

.u-right {
	float: right;
}
