.u-opacity-10 {
	opacity: 0.1;
}

.u-opacity-20 {
	opacity: 0.2;
}

.u-opacity-30 {
	opacity: 0.3;
}

.u-opacity-40 {
	opacity: 0.4;
}

.u-opacity-50 {
	opacity: 0.5;
}

.u-opacity-60 {
	opacity: 0.6;
}

.u-opacity-70 {
	opacity: 0.7;
}

.u-opacity-80 {
	opacity: 0.8;
}

.u-opacity-90 {
	opacity: 0.9;
}

.u-opacity-100 {
	opacity: 1;
}
