/* #WHITE SPACE
\*------------------------------------ */

.u-p {
	padding: var(--base-space);
}

.u-pt {
	padding-top: var(--base-space);
}

.u-pb {
	padding-bottom: var(--base-space);
}

.u-pr {
	padding-right: var(--base-space);
}

.u-pl {
	padding-left: var(--base-space);
}

.u-p05 {
	padding: 0.5rem;
}

.u-p25 {
	padding: 2.5rem;
}

.u-p1 {
	padding: 1rem;
}

.u-p2 {
	padding: 2rem;
}

.u-p3 {
	padding: 3rem;
}

.u-p4 {
	padding: 4rem;
}

.u-p0 {
	padding: 0;
}

.u-px05 {
	padding-inline: 0.5rem;
}

.u-py05 {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.u-py1 {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.u-px1 {
	padding-inline: 1rem;
}

.u-pt1 {
	padding-top: 1rem;
}

.u-pb1 {
	padding-bottom: 1rem;
}

.u-py2 {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.u-px2 {
	padding-inline: 2rem;
}

.u-pt2 {
	padding-top: 2rem;
}

.u-pb2 {
	padding-bottom: 2rem;
}

.u-pl3 {
	padding-left: 3rem;
}

.u-py3 {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.u-px3 {
	padding-inline: 3rem;
}

.u-pt3 {
	padding-top: 3rem;
}

.u-pb3 {
	padding-bottom: 3rem;
}

.u-pl4 {
	padding-left: 4rem;
}

.u-py4 {
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.u-px4 {
	padding-inline: 4rem;
}

.u-pt4 {
	padding-top: 4rem;
}

.u-pb4 {
	padding-bottom: 4rem;
}

.u-py0 {
	padding-top: 0;
	padding-bottom: 0;
}

.u-px0 {
	padding-inline: 0;
}

.u-pt0 {
	padding-top: 0;
}
