/* #TYPOGRAPHY UTILITY
\*------------------------------------ */

.u-h6,
.has-small-font-size {
	font-size: var(--h6);
}

.u-f1,
.has-regular-font-size,
.has-normal-font-size {
	font-size: 1rem;
}

.u-h5,
.has-medium-font-size {
	font-size: var(--h5);
}

.u-h2,
.has-large-font-size {
	font-size: var(--h2);
	line-height: var(--heading-line-height);
}

.u-h1,
.has-larger-font-size,
.has-huge-font-size {
	font-size: var(--h1);
	line-height: var(--heading-line-height);
}

.u-h0 {
	font-size: var(--h0);
	line-height: var(--heading-line-height);
}

.u-h3 {
	font-size: var(--h3);
	line-height: var(--heading-line-height);
}

.u-h4 {
	font-size: var(--h4);
	line-height: var(--heading-line-height);
}

.u-lh-1 {
	line-height: 1;
}

.u-lh-2 {
	line-height: 2;
}

.u-light {
	font-weight: $font-light;
}

.u-bold {
	font-weight: $font-bold;
}

.u-text-read {
	font-family: var(--font-family);
}

.u-regular,
.u-normal {
	font-weight: $font-normal;
}

.u-italic {
	font-style: italic;
}

.u-caps {
	text-transform: uppercase;
	letter-spacing: 0.08em;
}

.u-text-shadow {
	text-shadow: 0.063rem 0.063rem 0.313rem var(--color-tint-3);
}

.u-text-left {
	text-align: left;
}

.u-text-center {
	text-align: center;
}

.u-text-right {
	text-align: right;
}

.u-text-justify {
	text-align: justify;
}

.u-nowrap {
	white-space: nowrap;
}

.u-break-word {
	word-wrap: break-word;
}

.u-truncate {
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.has-drop-cap:not(:focus)::first-letter {
	float: left;
	font-family: Baskerville, Palatino, "Palatino Linotype", serif;
	font-style: normal;
	font-weight: 400;
	font-size: 4.4em;
	line-height: 0.84;
	margin: 0;
	padding-right: 0.125em;
	padding-top: 0.1em;
	text-transform: uppercase;
}

.has-drop-cap:not(:focus)::after {
	display: block;
	clear: both;
	content: "";
	padding: 0;
}

.u-text-display {
	font-family: var(--display-font-family);
}
