%e_button {
	color: inherit;
	background: transparent;
	background-color: var(--color-gray);
	padding: 0.8rem 2em;
	border: 2px solid transparent;
	border-radius: 0.25rem;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	box-shadow: none;
	min-height: var(--h1);
	transition-duration: var(--timing);
	transition-timing-function: var(--ease);
	transition-property: color, box-shadow, opacity, background-color, border-color;

	&:hover,
	&:focus {
		box-shadow: var(--hover-shadow);
		border-color: var(--hover-color);
	}
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {

	@extend %e_button;
}

::-webkit-file-upload-button {
	font: inherit;
	-webkit-appearance: button;
}
