%e_button {
	color: inherit;
	text-decoration: none;
	background-color: var(--color-shade-4);
	font-size: 0.9rem;
	padding: var(--button-padding);
	min-height: var(--input-height);
	border: 2px solid transparent;
	border-radius: var(--border-radius);
	display: inline-block;
	line-height: var(--heading-line-height);
	cursor: pointer;
	transition-duration: var(--timing);
	transition-timing-function: var(--ease);
	transition-property: var(--transition-props);

	&:hover,
	&:focus {
		box-shadow: var(--hover-shadow);
		border-color: var(--hover-color);
	}
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {

	@extend %e_button;
}
