%e_button {
	color: inherit;
	background: transparent;
	background-color: var(--color-gray);
	font-size: 0.9rem;
	padding: var(--button-padding);
	border-width: 2px;
	border-style: solid;
	border-color: transparent;
	border-radius: var(--border-radius);
	display: inline-block;
	line-height: var(--heading-line-height);
	vertical-align: middle;
	cursor: pointer;
	transition-duration: var(--timing);
	transition-timing-function: var(--ease);
	transition-property: color, border-color, background;

	&:hover,
	&:focus {
		background-image: linear-gradient(var(--hover-color), var(--hover-color));
	}
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {

	@extend %e_button;
}
