code,
kbd,
pre,
samp {
	background-color: var(--color-tint-1);
	border-radius: var(--border-radius);
	tab-size: 4;
}

code {
	font-family: var(--monospace-font-family);
	padding: 0.125em 0.375em;
	margin: 0 0.125em;
	font-size: 0.9rem;
}

pre {
	margin-top: 0;
	margin-bottom: var(--base-space);
	padding: 1rem;
	overflow: auto;
	max-height: 80vh;
	scrollbar-width: thin;
	white-space: pre;
	hyphens: none;
}

pre code {
	font-size: inherit;
	padding: 0;
	margin: 0;
	background-color: transparent;
	overflow-wrap: normal;
}
