h1 {
	font-size: var(--h1);
}

h2 {
	font-size: var(--h2);
}

h3 {
	font-size: var(--h3);
}

h4 {
	font-size: var(--h4);
}

h5 {
	font-size: var(--h5);
}

h6 {
	font-size: var(--h6);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: var(--heading-line-height);
	margin-top: 0;
	margin-bottom: 1rem;
	clear: both;
}

article :matches(h1, h2, h3) {
	margin-bottom: 0.6em;
}
