header,
footer,
main,
article,
aside,
section {
	position: relative;
}

hr {
	color: inherit;
	margin-top: 1rem;
	margin-bottom: var(--base-space);
	border-width: 0;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: currentColor;
	opacity: 0.3;
	box-sizing: content-box;
}

header {
	width: 100%;
}

body > header {
	color: var(--header-text-color);
	background-color: var(--header-bg-color);
	display: flex;
	font-size: var(--h6);
	justify-content: space-between;
	flex-wrap: wrap;

	@media (--md) {
		align-items: center;
	}
}

body > footer {
	margin-top: auto;
}

main {
	text-align: center;
	display: block;
	width: 100%;
	padding-top: var(--gutter);
}

main > * {
	text-align: left;
}

article {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: var(--gutter);
}

article > * {
	width: calc(100% - var(--base-double));
	max-width: var(--content-width);
}

article > :matches(p, div, figure, blockquote, table, ul, pre, hr, nav, section, aside) {
	margin-bottom: var(--gutter);
}

article > *:last-child {
	margin-bottom: 0;
}

aside {
	padding-top: var(--base-space);
	padding-bottom: var(--base-space);
	padding-inline: calc((100vw - var(--content-wide)) * 0.5);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
}

aside > section {
	margin: calc(var(--base-space) * 0.5);
	min-width: calc(200px - var(--base-space));
	flex: 1;
}
