header,
footer,
main,
article,
aside,
section {
	position: relative;
}

header {
	width: 100%;
}

body > header {
	color: var(--header-text-color);
	background-color: var(--header-bg-color);
	display: flex;
	font-size: $h6;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}

body > footer {
	margin-top: auto;
}

main {
	text-align: center;
	display: block;
	width: 100%;
	padding-left: var(--base-space);
	padding-right: var(--base-space);
}

main > * {
	text-align: left;
}

article {
	width: 100%;
	max-width: var(--content-width);
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: var(--base-space);
}

aside {
	padding-top: var(--base-space);
	padding-bottom: var(--base-space);
	padding-left: calc((100vw - var(--content-wide)) * 0.5);
	padding-right: calc((100vw - var(--content-wide)) * 0.5);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
}

aside > section {
	margin: calc(var(--base-space) * 0.5);
	min-width: calc(200px - var(--base-space));
	flex: 1;
}
