/* #LISTS
\*------------------------------------ */

ul,
ol,
dl {
	list-style: none;
	margin: 0 0 var(--base-space);
	padding: 0;
}

/* nested lists have no top/bottom margins */
:matches(ul, ol) ul,
:matches(ul, ol) ol {
	margin-bottom: 0;
}

li {
	padding: 0;
}

li + li {
	margin-top: 0.25rem;
}

article > :matches(ul, ol, dl) {
	list-style-type: initial;
	padding-left: var(--base-space);
}

article > :matches(ul, ol) ul {
	list-style-type: circle;
	padding-left: var(--base-space);
}

article > :matches(ul, ol) :matches(ul, ol) ul {
	list-style-type: square;
}

dt {
	font-weight: 700;
}

dd {
	margin-bottom: 0.5rem;
	margin-left: 0;
}

dfn {
	font-style: italic;
}

details {
	display: block;
	border: 2px solid var(--color-frost-4);
	padding-left: 1em;
	margin-bottom: var(--base-space);
}

details[open] {
	padding-bottom: 0.5em;
}

summary {
	display: list-item;
	background-color: var(--color-frost-3);
	font-weight: bolder;
	padding: 0.5em 1em;
	margin-left: -1em;
}

details[open] summary {
	margin-bottom: 0.5em;
}
