/* #LINKS
\*------------------------------------ */

a {
	color: color-mod(var(--color-text) blend(var(--color-1) 60%));
	text-decoration: none;
	background-color: transparent;
	transition-duration: var(--timing);
	transition-timing-function: var(--ease);
	transition-property: color, background-color, box-shadow, opacity;
}

:matches(header, nav) a {
	opacity: 1;
	color: inherit;
}

:matches(h1, h2, h3) > a {
	color: inherit;
	display: block;
}

:matches(article p, article li) > a {
	box-shadow: inset 0 -0.2em 0 0 var(--hover-color);
	font-weight: bolder;
	opacity: 0.8;
	overflow-wrap: break-word;
}

a:matches(:hover, :focus) {
	box-shadow: var(--hover-shadow);
	opacity: 1;
	color: inherit;
}
