/* #LINKS
\*------------------------------------ */

a {
	color: inherit;
	text-decoration: underline;
	text-decoration-color: var(--color-link);
	text-decoration-thickness: 0.0125em;
	text-underline-offset: 0.125em;
	background-color: transparent;
	overflow-wrap: break-word;
	transition-duration: var(--timing);
	transition-timing-function: var(--ease);
	transition-property: var(--transition-props);
}

header a,
a[class] {
	text-decoration: none;
}

/* :matches(h1, h2, h3) > a {
	display: block;
} */

a:matches(:hover, :focus) {
	color: var(--color-link);
}

header a:matches(:hover, :focus) {
	color: inherit;
	opacity: 0.8;
}

nav a:matches(:hover, :focus) {
	color: inherit;
	opacity: 1;
	box-shadow: var(--hover-shadow);
}
