/* #LISTS
\*------------------------------------ */

ul,
ol,
dl {
	list-style: none;
	margin: 0 0 var(--base-space);
	padding: 0;
}

ul ul,
ol ol {
	margin-bottom: 0;
}

li {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	padding: 0;
}

article ul,
article ol,
article dl {
	list-style-type: initial;
	padding-left: 1rem;
}

article ul ul {
	list-style-type: circle;
}

dt {
	font-weight: 700;
}

dd {
	margin-bottom: 0.5rem;
	margin-left: 0;
}

dfn {
	font-style: italic;
}

details {
	display: block;
	border: 2px solid var(--color-frost-4);
	padding-left: 1em;
}

details[open] {
	padding-bottom: 0.5em;
}

summary {
	display: list-item;
	background-color: var(--color-frost-3);
	font-weight: bolder;
	padding: 0.5em 1em;
	margin-left: -1em;
}

details[open] summary {
	margin-bottom: 0.5em;
}
