/* #NAV
\*------------------------------------ */

nav ol,
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	flex: 1 auto;
	position: relative;
	margin: 0;
}

nav a {
	display: block;
	text-decoration: none;
	padding: 1em 1rem;
}

header nav > ul {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;

	@media (--md) {
		flex-direction: row;
		text-align: center;
		justify-content: space-around;
	}
}

[aria-expanded="false"] + nav {
	display: none;

	@media (--md) {
		display: block;
	}
}

[aria-expanded="true"] + nav {
	display: block;
	width: 100%;
	padding-top: 1rem;
	box-shadow: var(--shadow);
}

/* [aria-expanded="true"] + nav ul {
	display: flex;
	right: 0;
	background-color: #fff;
	width: 100%;
	z-index: 999;
	text-align: left;
	padding-top: 1rem;
	padding-bottom: 1rem;
} */

@media (--md) {
	header > nav {
		width: auto;
		flex: 1;
		margin: 0;
		box-shadow: none;
	}
}



header nav li > ul {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	z-index: 99999;
	width: 100%;
	visibility: visible;
	opacity: 1;
	transition: visibility 0s, opacity 0.16s cubic-bezier(0, 0, 0.2, 1);

	@media (--md) {
		position: absolute;
	}
}

header nav li:not(:hover):not(:focus) > ul {
	overflow: hidden;
	position: absolute;
	opacity: 0;
	visibility: hidden;
	transition: visibility 0.32s, opacity 0.16s cubic-bezier(0.4, 0, 1, 1);
}

:root a[href="#main"] {
	border: 0;
	background-color: $color-frost-4;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;

	&:active,
	&:focus {
		top: 0.5rem;
		left: 0.5rem;
		clip: auto;
		height: auto;
		margin: 0;
		padding: 0.5rem;
		box-shadow: $shadow-3;
		overflow: visible;
		width: auto;
		white-space: inherit;
		z-index: 100000;
	}
}
