/* #BLOCKQUOTE
\*------------------------------------ */

blockquote {
	padding: 0.5rem;
	font-size: var(--h5);
	border-left: 0.25rem solid var(--color-2);
	margin: var(--gutter) auto;

	& p {
		margin-top: 0;
	}
}

cite {
	width: 100%;
	display: inline-block;
}

blockquote cite {
	font-size: var(--h6);
	font-style: italic;
}
