/* #BLOCKQUOTE
\*------------------------------------ */

blockquote {
	padding: 0 var(--gutter-half);
	font-size: var(--h5);
	line-height: 1.4;
	border-left: 0.2rem solid currentColor;
	margin: var(--base-space) 0;

	p {
		font-size: inherit;
		line-height: inherit;
	}
}

cite {
	width: 100%;
	display: inline-block;
}

blockquote cite {
	font-size: 0.75em;
	font-style: italic;
}

blockquote :last-child {
	margin-bottom: 0;
}
