/* #TABLES
\*------------------------------------ */
table {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;
	margin-bottom: $gutter;
}

td,
th {
	border-width: 1px;
	border-style: solid;
	border-color: var(--color-shade-3);
	padding: 0.5rem 0.75rem;
}

th {
	font-weight: $font-bold;
	vertical-align: bottom;
	border-bottom-width: 2px;
	text-align: inherit;
}

tfoot {
	font-weight: $font-bold;
	border-top-width: 2px solid var(--color-shade-3);
}
