/* #Global
\*------------------------------------ */

*,
::before,
::after {
	background-repeat: no-repeat;
	box-sizing: border-box;
}

::before,
::after {
	text-decoration: inherit;
	vertical-align: inherit;
}

html {
	cursor: default;
	font-family: system-ui;
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	word-break: break-word;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

main {
	display: block;
}

body {
	margin: 0;
	overflow-x: hidden;
	font-family: $root-font-family;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: $root-color;
	text-align: left;
	background-color: #fff;
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
	margin: 1rem 0;
	border: 0;
	border-top: 1px solid currentColor;
	opacity: 0.4;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

[tabindex="-1"]:focus {
	outline: 0 !important;
}

/*
  * Add the correct display in Edge and IE.
  */

details {
	display: block;
}

summary {
	display: list-item;
	font-weight: bolder;
}

details[open] summary {
	margin-bottom: 0.5em;
}

template {
	display: none;
}
