/* Purple #BC67CC
Blue #66B4F5
Red #E57277
Orange #FEAB41
Yellow #FFF179
Green #86C68A
Gray #625F63 */

/* grays from https://github.com/yeun/open-color */
$gray0: #f8f9fa;
$gray0_rgb: 248, 249, 250;
$gray1: #f1f3f5;
$gray1_rgb: 241, 243, 245;
$gray2: #e9ecef;
$gray2_rgb: 233, 236, 239;
$gray3: #dee2e6;
$gray3_rgb: 222, 226, 230;
$gray4: #ced4da;
$gray4_rgb: 206, 212, 218;
$gray5: #adb5bd;
$gray5_rgb: 173, 181, 189;
$gray6: #868e96;
$gray6_rgb: 134, 142, 150;
$gray7: #495057;
$gray7_rgb: 73, 80, 87;
$gray8: #343a40;
$gray8_rgb: 52, 58, 64;
$gray9: #212529;
$gray9_rgb: 33, 37, 41;

/* https://palx.jxnblk.com/66B4F5 */
$base: #66b4f5;
$black: $gray9;
$blue0: #ebf5fd;
$blue1: #d5ebfc;
$blue2: #bee0fa;
$blue3: #a4d4f9;
$blue4: #87c6f7;
$blue5: #66b7f5;
$blue6: #5ca5dd;
$blue7: #5091c2;
$blue8: #4378a1;
$blue9: #305674;
$indigo0: #edeefd;
$indigo1: #dadcfc;
$indigo2: #c4c8fb;
$indigo3: #acb1f9;
$indigo4: #8e95f7;
$indigo5: #6670f5;
$indigo6: #5b65dc;
$indigo7: #5058c1;
$indigo8: #42489f;
$indigo9: #2e3370;
$violet0: #f4edfd;
$violet1: #e9dafc;
$violet2: #dcc4fb;
$violet3: #cdabf9;
$violet4: #bb8df7;
$violet5: #a466f5;
$violet6: #945cdd;
$violet7: #8150c1;
$violet8: #6a429f;
$violet9: #4c2f71;
$fuschia0: #fcedfd;
$fuschia1: #fadafc;
$fuschia2: #f7c5fb;
$fuschia3: #f4acf9;
$fuschia4: #f08ef7;
$fuschia5: #eb66f5;
$fuschia6: #d45cdd;
$fuschia7: #ba50c2;
$fuschia8: #9a43a0;
$fuschia9: #6e3073;
$pink0: #fdedf6;
$pink1: #fcdaed;
$pink2: #fbc5e3;
$pink3: #f9acd8;
$pink4: #f78ec9;
$pink5: #f566b7;
$pink6: #dd5ca5;
$pink7: #c25091;
$pink8: #a04278;
$pink9: #733056;
$red0: #fbeeef;
$red1: #f8dcdd;
$red2: #f4c8ca;
$red3: #f0b0b4;
$red4: #eb9599;
$red5: #e57278;
$red6: #ce666c;
$red7: #b55a5e;
$red8: #954a4e;
$red9: #6b3538;
$orange0: #fef3e6;
$orange1: #fee7cc;
$orange2: #fedaaf;
$orange3: #fecc8f;
$orange4: #febc6b;
$orange5: #fea941;
$orange6: #e5983a;
$orange7: #c98633;
$orange8: #a76f2a;
$orange9: #78501e;
$yellow0: #fffceb;
$yellow1: #fffad7;
$yellow2: #fff7c2;
$yellow3: #fff5ab;
$yellow4: #fff293;
$yellow5: #ffef79;
$yellow6: #e7d86d;
$yellow7: #cbbe60;
$yellow8: #a99e50;
$yellow9: #7b733a;
$lime0: #f4fdea;
$lime1: #eafcd4;
$lime2: #defabc;
$lime3: #d2f8a2;
$lime4: #c4f785;
$lime5: #b5f566;
$lime6: #a3dd5c;
$lime7: #90c351;
$lime8: #78a243;
$lime9: #577631;
$green0: #e3f9ec;
$green1: #c5f3d8;
$green2: #a2ecc1;
$green3: #79e4a6;
$green4: #46da84;
$green5: #0c5;
$green6: #00b84c;
$green7: #00a243;
$green8: #008638;
$green9: #006128;
$teal0: #ecfdf4;
$teal1: #d7fce8;
$teal2: #c1fadb;
$teal3: #a7f9cc;
$teal4: #8af7ba;
$teal5: #66f5a6;
$teal6: #5cdd96;
$teal7: #51c384;
$teal8: #43a26e;
$teal9: #31754f;
$cyan0: #ecfdfc;
$cyan1: #d7fcfa;
$cyan2: #c1faf8;
$cyan3: #a7f9f5;
$cyan4: #8af7f2;
$cyan5: #66f5ee;
$cyan6: #5cddd7;
$cyan7: #51c3bd;
$cyan8: #43a29d;
$cyan9: #317672;
