/* global vars */
:root {
	/* spacing */
	--base-line: 1.5;
	--base-space: 1.5rem;
	--base-half: 0.75rem;
	--base-double: 3rem;
	--gutter: 2.5rem;
	--gutter-half: 1.25rem;
	--gutter-x: rfs(2rem);
	--gutter-x-double: 4rem;

	/* inputs */
	--input-height: 3.125rem;
	--input-sm-height: 2.5rem;
	--input-padding: 0.85em;
	--button-padding: var(--input-padding) 1.75em;

	/* width */
	--reading-width: 920px;
	--content-width: 1224px;
	--content-wide: 1534px;
	--content-half: calc(var(--content-width) * 0.5);
	--wide-half: calc(var(--content-wide) * 0.5);
	--main-nav-width: 1280px;
	--logo-width: calc(102px + (208 - 102) * ((100vw - 320px) / (1230 - 320)));

	/* text sizing */
	--h0: rfs(89px); /* var(--fluid-h0); /* 1.1 Archivo / Bold / 89px / 98px / -3px */
	--h1: rfs(67px); /* var(--fluid-h1); /* 1.19 Archivo / Bold / 67px / 80px / -2px */
	--h2: rfs(50px); /* var(--fluid-h2); /* 1.2 Archivo / Bold / 50px / 60px / -2px */
	--h3: rfs(37px); /* var(--fluid-h3); /* 1.46 Archivo / Bold / 37px / 54px / -2px */
	--h4: rfs(28px); /* var(--fluid-h4); /* 1.5 Archivo / Bold / 28px / 42px / -1px */
	--h5: 21px; /* 1.3125rem; /* 1.476 Archivo / Bold / 21px / 31px / -1px */
	--h6: 16px; /* 1rem; /* 1.5 Archivo / Bold / 16px / 24px / 0px */
	--text-body: 1rem; /* Archivo / Regular & Bold / 16px / 24px / 0.5px */
	--text-sub: 0.75rem; /* Archivo / Regular / 12px / 18px / 0.5px */
	--text-small: 0.875rem; /* Archivo / Regular & Bold / 14px / 21px / 0.5px */
	--text-large: var(--h5); /* Archivo / Regular & Bold / 21px / 31px / 0.5px */
	--text-intro: var(--h4); /* Archivo / Bold / 28px / 42px / -1px */
	--line-height: var(--base-line);
	--reading-line-height: 1.5;
	--heading-line-height: 1.2;

	/* Fluid sizing */
	--min-font: 0.95;
	--min-font-size: 0.95rem;
	--max-font: 1.1;
	--max-font-size: 1.1rem;

	/* calc(minPX + (max - min)*((100vw - sm-mqPX)/(xlMQ - sm-mq))) */
	--fluid-font: calc(
		var(--min-font-size) + (var(--max-font) - var(--min-font)) *
			((100vw - 21em) / (97 - 21))
	);

	/* font */
	--font-family: var(--system-font);
	--display-font-family: "Palatino", "Palatino Linotype", "Book Antiqua", "FreeSerif", serif;
	--monospace-font-family: sfmono-regular, consolas, "Liberation Mono", menlo, monospace;
	--system-font: system-ui, sans-serif;
	--font-bold: 700;
	--font-light: 300;
	--font-normal: 400;
	--display-bold: 600;
	--display-normal: 500;

	/* color */
	--theme_green: #74b74a;
	--theme_green_dark: #548138;
	--theme_red: #b74a4a;
	--theme_gray_light: #f2f2f2;
	--theme_gray: #d1d1d1;
	--theme_gray_dark: #303030;
	--white: #fff;
	--black: #000;
	--linear_gradient: linear-gradient(180deg, #74b74a 0%, #639a40 100%);
	--background_color: #fff;
	--site-bg: var(--background_color);
	--color-bg: #000;
	--foreground_color: var(--black);
	--color-text: var(--foreground_color);
	--color-1: var(--theme_green);
	--color-1-dark: var(--theme_green_dark);
	--color-2: var(--theme_red);
	--color-info: #66b4f5;
	--color-success: #86c68a;
	--color-warning: #ffef79;
	--color-error: #e57277;
	--link-color: var(--color-1);
	--link-decoration: underline;
	--link-hover-color: var(--color-1);
	--link-hover-decoration: underline;
	--link-decoration-color: color-mod(var(--link-color) a(40%));
	--input-bg-color: var(--white);
	--input-border-color: var(--theme_gray);
	--header-text-color: inherit;
	--header-highlighted-icon: var(--theme_green_dark);
	--color-text-muted: var(--theme_gray);
	--color-nav-border: color-mod(#000 a(20%));
	--border-radius: 0;
	--button-radius: 0;

	/* shadows */
	--opacity: 0.7;
	--shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	--shadow-1: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
		0 1px 5px 0 rgba(0, 0, 0, 0.12);
	--shadow-2: 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14),
		0 1px 8px 0 rgba(0, 0, 0, 0.12);

	/* Link effects */
	--hover-color: color-mod(var(--theme_gray_dark) a(5%));
	--hover-shadow: inset 0 -10em 0 0 var(--hover-color);

	/* animation */
	--transition: var(--transition-props) var(--timing) var(--ease);
	--timing: 0.18s;
	--timing-open: 0.25s;
	--timing-close: 0.2s;
	--ease: cubic-bezier(0.4, 0, 0.2, 1);
	--ease-enter: cubic-bezier(0, 0, 0.2, 1);
	--ease-exit: cubic-bezier(0.4, 0, 1, 1);
	--transition-props: color, transform, border-color, opacity, background-color,
		box-shadow;

	--admin-bar-height: 32px;

	@media screen and (max-width: 782px) {
		--admin-bar-height: 46px;
	}
}
