:root .wp-block-cover {
	line-height: var(--heading-line-height);
	position: relative;
	background-color: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.4) 100%);
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	min-height: 234px;

	@media (--phab) {
		min-height: 457px;
	}

	@media (--read) {
		min-height: 800px;
	}

	/* Background dim. */
	&.has-background-dim::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		opacity: 0.5;
		background-color: inherit;
	}

	&.has-background-dim-10::before {
		opacity: 0.1;
	}

	&.has-background-dim-20::before {
		opacity: 0.2;
	}

	&.has-background-dim-30::before {
		opacity: 0.3;
	}

	&.has-background-dim-40::before {
		opacity: 0.4;
	}

	&.has-background-dim-50::before {
		opacity: 0.5;
	}

	&.has-background-dim-60::before {
		opacity: 0.6;
	}

	&.has-background-dim-70::before {
		opacity: 0.7;
	}

	&.has-background-dim-80::before {
		opacity: 0.8;
	}

	&.has-background-dim-90::before {
		opacity: 0.9;
	}

	&.has-background-dim-100::before {
		opacity: 1;
	}

	&.has-left-content {
		justify-content: flex-start;
	}

	&.has-right-content {
		justify-content: flex-end;
	}
}

:root:root .wp-block-cover__inner-container > .has-theme-background-background-color {
	background-color: rgba(255, 255, 255, 0.9);
	padding: rfs(104px) rfs(144px);
}

:root .wp-block-cover__inner-container {
	width: calc(100% - var(--gutter-x-double));
	max-width: var(--content-wide);
	margin-inline: auto;
}

.wp-block-cover__inner-container > * {
	max-width: 100%;
}

.wp-block-cover.alignfull {
	margin-bottom: 0;
}

.has-hero-image .wp-block-cover.has-background-dim.hero-header::before {
	opacity: 0.15;
}

:root .wp-block-cover p {
	line-height: var(--line-height);
}

:root .has-hero-image .hero-header {

	@media (--read) {
		min-height: 656px;
	}
}

:root .wp-block-cover__inner-container .wp-block-group.alignwide {
	width: 100%;
}
