.wp-block-image {
	margin-bottom: var(--base-space);
	position: relative;

	img {
		object-fit: cover;
	}
}

.wp-block-image.is-resized {
	display: block;
	margin-inline: auto;
}

.custom-logo-link:matches(:focus, :hover) {
	opacity: 1;
}

/* svg.v-arrow-right {
	width: 1em;
} */

.widget img {
	object-fit: cover;
	width: 100%;
}

svg:not([fill="none"]) {
	fill: currentColor;
}

.wp-post-image {
	width: 100%;
}

.post-thumbnail-link {
	padding: 0;
}

img.wp-smiley,
img.emoji {
	display: inline-block;
	width: 1em;
	margin: 0 0.1em;
	vertical-align: -0.1em;
}

.icon {
	height: 1em;
}

.entry__image {
	width: 100%;
}

a.post-thumbnail {
	box-shadow: none;
	opacity: 1;
}

.avatar {
	border-radius: 50%;
	border: 0.5rem;
	width: 6rem;
}

article > svg,
main > svg {
	z-index: -1;
}

svg .logo-text {
	fill: currentColor;
	stroke: none;
}

svg .logo-tent-top {
	fill: var(--color-1);
	stroke: none;
}

svg .logo-tent-bottom {
	fill: none;
	stroke: var(--color-1);
}

.top-wave-pattern.v-wave-gradient {
	width: 100vw;
	stroke: currentColor;
	top: -5vh;
	height: auto;
	opacity: 0.1;
}

.v-patterns {
	position: absolute;
	top: 0;
	width: 100%;
	left: 0;
	opacity: 0.3;
}

.has-svg .v-image {
	position: absolute;
	stroke: rgba(255, 255, 255, 0.35);
	left: -3px;
	width: auto;
}

.home .v-patterns.flag.v-image.v-flag {
	width: auto;
	left: -1.5rem;
	top: 20%;
	opacity: 0.3;
}

/* thumbnail row */

:root:root:root .is-style-thumb-row.team-row {
	display: grid;
	grid-template-columns: 1fr;
	gap: var(--base-space);

	/* max-height: 367px; */

	@media (--phab) {
		grid-template-columns: 1fr 1fr;
		height: 94vw;
		margin-top: calc(94vw * -0.15);
	}

	@media (--read) {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		height: 22vw;
		margin-top: calc(22vw * -0.5);
	}
}

:root:root:root:root:root .is-style-thumb-row.team-row > * {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	height: 91vw;

	@media (--phab) {
		height: 100%;
	}

	/* width: 22vw; */
}

/* :root:root:root .is-style-thumb-row.team-row .wp-block-cover {
	max-height: 100%;
	margin: 0;
} */

:root .is-style-thumb-row .wp-block-cover__inner-container {
	width: 100%;
}

:root .is-style-thumb-row figure {
	background-color: var(--color-1);
}

:root .is-style-thumb-row a:matches(:focus, :hover) img {
	opacity: 0.5;
}

.is-style-thumb-row .wp-block-image figcaption {
	display: block;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 48%;
	left: 0;
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: var(--h3);
	letter-spacing: -2px;
	opacity: 1;
	font-weight: var(--font-bold);
}

.is-style-thumb-row .wp-block-image a::after {
	content: "";
	height: 100%;
	width: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}

.is-style-thumb-row .wp-block-image:hover a::after {
	z-index: 1;
}

.is-style-thumb-row .wp-block-image a:not(:hover)::after {
	background-image: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 0.6) 100%
	);
}

.v-pattern.faq-flag {
	max-height: 478px;
}

svg.u-abs + * {
	position: relative;
}

:root {
	--map-pin: var(--map-pin-black);
}

.has-theme-primary-dark-background-color {
	--map-pin: var(--map-pin-white);
}

.wp-block-image .alignleft > figcaption,
.wp-block-image .alignright > figcaption,
.wp-block-image .aligncenter > figcaption,
.wp-block-image.is-resized > figcaption {
	display: block;
}
