.is-style-none li {
	min-height: var(--input-sm-height);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.table-list__item {
	margin-bottom: 0.5rem;
}

.saved-tables__link,
.table-list__link {
	min-height: 60px;
	align-items: center;
	width: 100%;
	display: flex;
	border: 1px solid var(--theme_gray);
}

.link-arrow {
	border-left: 1px solid var(--theme_gray);
	height: 60px;
	width: 60px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
