.app-header__nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
	flex-direction: row-reverse;
	align-self: center;
	margin-top: 1rem;
	margin-right: 1rem;
	padding: 1px 1px 0;
	z-index: 30;

	&::before {
		content: "";
		border: 1px solid;
		opacity: 0.2;
		left: 0;
		top: 0;
		width: 100%;
		height: calc(100% + 1px);
		position: absolute;
	}

	svg {
		fill: currentColor;
		stroke: currentColor;
		stroke-width: 0.2;
		width: 1.5em;
	}

	@media (--tab) {
		margin-top: 2rem;
		margin-right: 2rem;
		min-height: 68px;
		padding-inline: 0.5rem;
	}

	@media (--content) {
		margin-right: 0;
		flex-direction: row;
		width: calc(100% - 250px);
		max-width: var(--main-nav-width);
	}
}

.primary-nav {
	flex: 1;
	max-width: 1020px;
}

.primary-nav .menu__item {
	display: inline-flex;
	flex: 0 auto;
}

.app-header__nav.is-active {
	background-color: var(--color-1);
	color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	flex-direction: column;
	width: 100%;
	margin: 0;

	ul {
		background-color: inherit;
		color: inherit;
	}

	.has-children {
		background-color: inherit;
		color: inherit;
		flex-direction: column;
	}

	.icons-nav {
		order: -1;
		margin-right: 2rem;
		align-self: flex-end;
	}
}

ul.menu__items {
	margin: 0;
}

.menu__sub-menu {
	min-width: 220px;
	width: auto;
}

li.has-children:hover {
	position: static;
}

.icons-nav,
.nav-toggle {
	display: flex;
	min-height: 50px;
	align-items: center;
	z-index: 1;
}

.nav-toggle {
	background-color: hsla(0, 0%, 100%, 0.2);
	z-index: 20;
	min-width: 48px;

	@media (--content) {
		display: none;
	}
}

.nav-toggle[aria-expanded="true"] {
	position: absolute;
	top: 0;
	right: 0;
}

.menu__items--primary {
	justify-content: space-around;
	max-width: 100%;

	@media (--content) {
		min-height: 92px;
	}
}

.menu__link {
	display: inline-flex;
	width: 100%;
	align-items: center;
}

.menu__items--primary .menu__link {
	font-size: 1.125rem;
	letter-spacing: initial;
}

.nav-toggle,
.menu__items--icons a {
	justify-content: center;
	font-size: 1rem;
	padding: 0;
	height: 3rem;
	width: 3rem;
	line-height: 1;

	@media (--phab_down) {
		width: 2.5rem;
	}
}

.has-children:hover {
	background-color: var(--background_color);
	color: var(--foreground_color);
}

.menu__items--icons {
	flex-direction: row;
	max-width: 150px;
}

.nav-icons {
	display: none;
}

a[href*="/my-account/"] .v-account,
li.nav-icon-account > a .v-account {
	display: block;
}

a[href*="/cart/"] .v-shopping-bag,
a[href*="/request-quote/"] .v-shopping-bag,
li.nav-icon-bag > a .v-shopping-bag {
	display: block;
	stroke-width: 1.2;
	fill: none;
}

li.nav-icon-bag > a[title] {
	color: var(--header-highlighted-icon);
}

a[href*="search"] .v-search {
	display: block;
}

.pagination__anchor--current {
	font-weight: bold;
	padding: var(--button-padding);
	line-height: var(--heading-line-height);
}

.nav-links {
	font-size: var(--h5);
	display: flex;
	opacity: 0.7;
	justify-content: center;
	align-items: center;
}

.page-numbers {
	opacity: 0.4;
	padding: 0.5rem;
}

.page-numbers.prev,
.page-numbers.next,
.page-numbers.current {
	opacity: 1;
}

.page-numbers.dots {
	padding-inline: 0;
}

.v-right-arrow-white > a::after {
	content: var(--arrow-right-white);
	width: 1.25em;
	display: inline-block;
	vertical-align: middle;
	margin-left: 0.8em;
}
