body.has-open-modal {
	overflow: hidden;
}

.staff-profile {
	display: inline-block;
}

.staff__image {
	margin-bottom: 1rem;
}

.staff__title p {
	margin-top: 0;
}

.profile-content-window {
	background: rgba(0, 0, 0, 0.5);
	max-width: 100%;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 0;
	top: 0;
	pointer-events: auto;
	z-index: 20;
	right: 0;
	position: fixed;
}

.profile-content-window > .profile-content {
	background-color: #fff;
	color: var(--color-text);
	display: block;
	height: fit-content;
	margin: 1rem;
	padding: var(--gutter-xxxl) 1em;
	position: absolute;
	width: calc(100% - var(--gutter-x-double));
	max-width: var(--reading-width);
}

.profile-content-window > .profile-content > * {
	max-width: var(--content-half);
	margin-inline: auto;
}

.profile-content-window:not([data-open]) {
	clip: rect(0, 0, 0, 0);
	position: absolute;
}

:root .modal__close-btn {
	background: none;
	border: none;
	height: 2em;
	padding: 0;
	position: absolute;
	right: 1em;
	top: 1em;
	width: 2em;
	min-height: 0;
	box-shadow: none;
}

[data-modal-x] {
	border-right: 1px solid;
	bottom: 0;
	display: block;
	height: 1em;
	left: 0;
	margin: auto;
	pointer-events: none;
	position: relative;
	right: 0;
	top: 0;
	transform: rotate(45deg);
	width: 1px;
	opacity: 0.9;
	transition: opacity, transform var(--timing) var(--ease);
}

[data-modal-x]::after {
	border-right: 1px solid;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	transform: rotate(-90deg);
	width: 100%;
}

.modal__close-btn:matches(:focus, :hover) [data-modal-x] {
	transform: scale(1.3) rotate(45deg);
	opacity: 1;
}

.wp-block-column > .staff-profile {
	display: block;
	width: calc(100% - var(--base-space));
	margin-inline: auto;
}

.staff-profile img {
	width: 100%;
}

.profile-content a {
	color: var(--color-1);
	text-decoration-line: underline;
}

.profile-content h3 {
	margin-bottom: 0;
	line-height: 1.2;
}

.profile-content h5 {
	margin-bottom: 0.5rem;
}

.profile-content h5 + p {
	margin-bottom: 2.5rem;
}
