/* table items */

.dc-layout button {
	box-shadow: none;
}

svg.v-table-place {
	position: relative;
	width: 100%;
	transition-duration: var(--timing);
	transition-timing-function: var(--ease);
	transition-property: var(--transition-props);
}

.table-item {
	position: relative;
	justify-self: center;
	align-self: center;
	transition-duration: var(--timing);
	transition-timing-function: var(--ease);
	transition-property: var(--transition-props);
}

.table-item.table-item--has-image .table-item__image {
	/* height: calc(var(--imgHeight) * 0.5px); */
	width: calc(var(--imgWidth) * 0.5px);
}

.table-item--has-image .v-table-place {
	/* visibility: hidden;
	clip: rect(0, 0, 0, 0); */
	opacity: 0;
	display: none;

	/* position: absolute;
	padding: 0;
	margin: 0;
	width: 0;
	height: 0;
	overflow: hidden; */
}

.table-item__image[src="false"] {
	line-height: 1;
	font-size: 0.9rem;
	text-transform: capitalize;
	border-radius: 2px;
	color: #898989;
	border: 1px solid #d1d1d1;
	background-color: rgba(255, 255, 255, 0.95);
}

.table-item__image[src$="placeholder.svg"] {
	display: none;
}

.table-item[data-var="dc_table_cloth"] {
	position: absolute;
	opacity: 1 !important;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;

	.table-item__btn,
	.table-item__image {
		cursor: default;
		width: 100%;
		height: 100%;
		border-radius: 50%;
	}

	.table-item__close {
		top: -1rem;
	}
}

.table-item[data-var="dc_wine_glass"] {
	/* max-width: 45px; */
	grid-row: row 2;
	grid-column: col 3 / span 2;

	/* align-self: end; */

	.table-item__btn {
		/* max-width: 100px; */
	}

	svg {
		max-width: 40px;
	}

	img {
		transform: scale(0.5);

		/* max-width: 200px; */
	}

	@media (--phab_down) {
		img,
		svg {
			max-height: 50px;
		}
	}
}

.table-item[data-var="dc_wine_glass_fat"] {
	/* max-width: 59px; */
	grid-row: row 2;
	grid-column: col 5 / span 2;

	/* align-self: end; */

	.table-item__btn {
		/* max-width: 100px; */
	}

	svg {
		max-width: 58px;
	}

	img {
		transform: scale(0.5);

		/* max-width: 200px; */
	}

	@media (--phab_down) {
		img,
		svg {
			max-height: 50px;
		}
	}
}

.table-item[data-var="dc_wine_glass_tall"] {
	/* max-width: 44px; */
	grid-row: row 2;
	grid-column: col 7 / span 2;

	/* align-self: end; */

	.table-item__btn {
		/* max-width: 100px; */
	}

	svg {
		max-width: 37px;
	}

	img {
		transform: scale(0.5);

		/* max-width: 200px; */
	}

	@media (--phab_down) {
		img,
		svg {
			max-height: 50px;
		}
	}
}

.table-item[data-var="dc_glass"] {
	/* max-width: 59px; */
	grid-row: row 2;
	grid-column: col 9 / span 2;

	/* align-self: end; */

	.table-item__btn {
		/* max-width: 100px; */
	}

	svg {
		max-width: 59px;
	}

	img {
		transform: scale(0.5);

		/* max-width: 200px; */
	}

	@media (--phab_down) {
		img,
		svg {
			max-height: 50px;
		}
	}
}

.table-item[data-var="dc_napkin"] {
	/* max-width: 55px; */
	grid-row: row 3;
	grid-column: col 2;

	svg {
		max-width: 55px;
	}

	img {
		object-fit: cover;
		max-width: 55px;
		height: 150px;

		/* min-width: 0; */
	}

	@media (--phab_down) {
		img,
		svg {
			max-height: 50px;
		}
	}
}

.table-item[data-var="dc_salad_fork"] {
	grid-row: row 3;
	grid-column: col 3;

	.table-item__btn {
		/* max-width: 60px; */
		height: auto;
	}

	svg {
		max-width: 30px;
	}

	img {
		transform: scale(0.5);
	}

	@media (--phab_down) {
		img,
		svg {
			max-height: 50px;
		}
	}
}

.table-item[data-var="dc_dinner_fork"] {
	/* max-width: 35px; */
	grid-row: row 3;
	grid-column: col 4;

	.table-item__btn {
		/* max-width: 60px; */
		height: auto;
	}

	svg {
		max-width: 35px;
	}

	img {
		transform: scale(0.5);
	}

	@media (--phab_down) {
		img,
		svg {
			max-height: 50px;
		}
	}
}

.table-item[data-var="dc_charger"] {
	/* max-width: 293px;
	max-height: 293px; */
	grid-row: row 3;
	grid-column: col 5 / span 5;

	/* &:hover + .table-item {
		transform: scale(0.9);
		border-radius: 80px;
		overflow: hidden;
	} */

	.table-item__btn {
		height: auto;
	}

	svg {
		max-width: 293px;
	}

	img {
		object-fit: cover;

		/* width: 286px; */
		height: 293px;
	}

	@media (--phab_down) {
		img,
		svg {
			max-height: 108px;
		}
	}
}

.table-item[data-var="dc_big_plate"] {
	/* max-width: 199px;
	max-height: 199px; */
	grid-row: row 3;
	grid-column: col 5 / span 5;

	/* &:hover + .table-item {
		transform: scale(0.8);
		border-radius: 60px;
		overflow: hidden;
	} */

	.table-item__btn {
		height: auto;
	}

	svg {
		max-width: 199px;
	}

	img {
		object-fit: cover;

		/* width: 200px; */
		height: 199px;
	}

	@media (--phab_down) {
		img,
		svg {
			max-height: 72px;
		}
	}
}

.table-item[data-var="dc_small_plate"] {
	/* max-width: 105px;
	max-height: 105px; */
	grid-row: row 3;
	grid-column: col 5 / span 5;

	.table-item__btn {
		/* height: auto; */
	}

	svg {
		max-width: 105px;
	}

	img {
		/* object-fit: cover; */

		/* width: 120px; */
		height: 120px;
	}

	@media (--phab_down) {
		img,
		svg {
			max-height: 40px;
		}
	}
}

.table-item[data-var="dc_knife"] {
	/* max-width: 35px; */
	grid-row: row 3;
	grid-column: col 10;

	.table-item__btn {
		/* max-width: 60px; */
		height: auto;
	}

	svg {
		max-width: 30px;
	}

	img {
		transform: scale(0.5);
	}

	@media (--phab_down) {
		img,
		svg {
			max-height: 50px;
		}
	}
}

.table-item[data-var="dc_spoon"] {
	/* max-width: 55px; */
	grid-row: row 3;
	grid-column: col 11;

	.table-item__btn {
		/* max-width: 60px; */
		height: auto;
	}

	svg {
		max-width: 51px;
	}

	img {
		transform: scale(0.5);
	}

	@media (--phab_down) {
		img,
		svg {
			max-height: 50px;
		}
	}
}

.table-item__image {
	/* position: absolute; */
	object-fit: contain;
	width: auto;
	height: auto;
}

:root .table-item__btn {
	overflow: hidden;
	display: block;
	color: #898989;
	background: transparent;
	cursor: pointer;
	font: inherit;
	border-width: 0;
	margin: 0;
	padding: 0;
	position: relative;
}

.table-item__btn.dc-extra__btn {
	width: 100%;
	height: 100%;
}

.table-item:hover {
	opacity: 0.9;
}

:root .is-active .table-item__btn {
	color: var(--color-1);
}

.table-item__close {
	transform: rotate(45deg);
	font-size: 1rem;
	border: none;
	border-radius: 50%;
	height: 2em;
	padding: 0;
	position: absolute;
	right: calc(50% - 1em);
	top: calc(50% - 1em);
	width: 2em;
	min-height: 2em;
	box-shadow: none;
	background-color: var(--color-1);
	color: #fff;
	z-index: 1;

	@media (--phab_down) {
		font-size: 0.5rem;
	}
}

[data-var="dc_charger"] .table-item__close,
[data-var="dc_big_plate"] .table-item__close,
[data-var="dc_small_plate"] .table-item__close {
	top: calc(100% - 1em);
}

.table-item--has-image {
	.table-item__close {
		display: none;
		transform: none;
		top: -1em;
		background-color: rgba(0, 0, 0, 0.6);
	}

	&:hover .table-item__close {
		display: block;
	}

	.table-item__btn {
		/* height: var(--table-image-height, 100px); */
	}
}

[data-item-x] {
	border-right: 1px solid;
	bottom: 0;
	display: block;
	height: 1em;
	left: 0;
	margin: auto;
	pointer-events: none;
	position: relative;
	right: 0;
	top: 0;
	transform: rotate(45deg);
	width: 1px;
	opacity: 0.9;
	transition: opacity, transform var(--timing) var(--ease);
}

[data-item-x]::after {
	border-right: 1px solid;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	transform: rotate(-90deg);
	width: 100%;
}

.table-item__close:matches(:focus, :hover) [data-item-x] {
	/* transform: scale(1.3) rotate(45deg);
	opacity: 1; */
}

@media (--phab_down) {
	:root:root .dc-clear {
		border-width: 0;
		padding: 0;

		&::before {
			border-width: 0;
		}
	}
}
