.archive-entry .post-info-sep {
	display: none;
}

.has-large-font-size.is-style-display-font {
	letter-spacing: -1px;
}

.archive-entry__title {
	margin: 0.5rem 0 0;
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 0.5px;
}

section .archive-entry__title {
	font-size: var(--text-small);
}

.page-subtitle {
	margin-bottom: var(--gutter);
}
