/* e.headings
-------------------------------------------- */
h1 {
	line-height: var(--heading-line-height);
	letter-spacing: -1px;

	@media (--read) {
		letter-spacing: -2px;
	}
}

h2 {
	line-height: var(--heading-line-height);
	letter-spacing: -1px;

	@media (--read) {
		letter-spacing: -2px;
	}
}

h3 {
	line-height: 1.46;
	letter-spacing: -2px;
}

h4 {
	line-height: var(--reading-line-height);
	letter-spacing: -1px;
}

h5 {
	line-height: 1.46;
	letter-spacing: -1px;
}

h6 {
	line-height: var(--reading-line-height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: var(--font-bold);
	margin-bottom: 1rem;
	clear: both;
}

article > :matches(h1, h2, h3, h4) {
	margin-bottom: 1.1em;
}

header :matches(h1, h2, h3, h4),
footer :matches(h1, h2, h3, h4) {
	margin: 0;
}
