/* e.typography
-------------------------------------------- */
%e_figcaption {
	color: inherit;

	/* opacity: 0.7; */
	font-size: var(--h6);
	margin: 0;
	padding: 0.5rem 0.125em;
	line-height: var(--heading-line-height);
}

p {
	margin-block: var(--base-space);
}

article > p {
	max-width: var(--reading-width);
	margin-inline: auto;
}

p:empty {
	display: none;
}

i,
cite,
em {
	font-style: italic;
}

figcaption {

	@extend %e_figcaption;
}
