.blog.infinite-scroll .pagination {
	display: none;
}

.blog-wrap {
	margin-top: var(--base-space);
}

.cat__header {
	margin-top: var(--gutter-xxl);
	margin-bottom: var(--gutter-xxl);
}

body:not(.infinite-scroll) .pagination-wrapper {
	text-align: right;
	margin-bottom: var(--gutter-sm);
}

.archive-entry--post .archive-entry__text {
	margin-top: 1rem;

	.has-sub-font-size {
		padding-block: 0.5rem;
		display: inline-block;
	}
}

.archive-entry--post .entry__title {
	font-size: var(--h5);
}

.blog-wrap > .archive-entry:first-of-type .wp-post-image {
	height: 100%;
	width: 100%;
}

.blog-wrap > .archive-entry:first-of-type {
	grid-column: -1 / 1;
	max-width: 100%;
	width: 100%;
	margin-bottom: var(--gutter-lg);

	.archive-entry__title {
		font-size: var(--h2);
		font-weight: var(--font-bold);
		letter-spacing: -2px;
		margin-bottom: var(--gutter-x);
	}

	.archive-entry__content {
		display: block;

		p {
			margin-bottom: var(--gutter-x);
		}
	}

	.has-sub-font-size {
		display: none;
	}

	.post-thumbnail {
		/* grid-area: media-text-media;
		align-self: start; */
		margin: 0;
	}

	.archive-entry__text {
		word-break: break-word;
		grid-area: media-text-content;
		max-width: 604px;
	}

	.archive-entry__image {
		width: 100%;
	}

	@media (--tab) {
		/* display: grid;
		grid-template-rows: auto;
		align-items: center;
		grid-template-areas: "media-text-media . media-text-content";
		grid-template-columns: 40% 1fr calc(50% - var(--base-half)); */
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	@media (--read) {
		grid-template-columns: calc(50% - var(--base-half)) 1fr 40%;
	}

	@media (--content) {

		.wp-post-image {
			max-width: 762px;
			max-height: 762px;
		}
	}
}

.post > * {
	max-width: var(--reading-width);
}

:root:root .post .alignwide {
	max-width: var(--content-width);
}

.post h1 {
	color: var(--color-1);
}

.post-info-sep {
	margin: 0.35rem;
}

.archive__header {
	max-width: 100%;
	order: -3;
}

.archive-entry__header {
	margin-block: 1rem;
}

header .u-text-muted {
	margin-bottom: 0.5rem;
}

.archive-entry--post {
	align-items: baseline;
	max-width: 100%;
	min-width: 166px;
	margin-bottom: var(--gutter);
}

.archive-entry > * {
	width: 100%;
}

.archive-entry__content > :last-child {
	margin-bottom: 0;
}

@media (--tab_down) {

	.blog main {
		display: flex;
		flex-direction: column;
	}

	.pagination-wrapper {
		order: -1;
	}

	.blog-wrap > .archive-entry:first-of-type {

		.archive-entry__title {
			font-size: var(--h5);
		}
	}
}

@media (--tab) {

	.archive-entry__content .button {
		min-width: 230px;
	}
}

.entry-wrap > .archive-entry,
.page-template-template-search-blog .archive-entry,
.blog-wrap > .archive-entry:not(:first-of-type) {

	.archive-entry__content {
		display: none;
	}
}

.related-heading {
	margin-bottom: 2rem;
}

@media (--phab_down) {

	:root li.related-item {
		max-width: calc(50vw - var(--gutter));

		&:last-child {
			display: none;
		}
	}
}

li.related-item {
	flex: 1;
	max-width: calc(33vw - var(--gutter));

	@media (--read) {
		max-width: 292px;
	}
}

:root:root .related-item a {
	color: inherit;
	text-decoration: none;
	opacity: 1;
}

.related-item .wp-post-image {
	object-fit: cover;
	max-width: calc(50vw - var(--gutter));
	max-height: calc(50vw - var(--gutter));

	@media (--phab) {
		max-width: calc(33vw - var(--gutter));
		max-height: calc(33vw - var(--gutter));
	}

	@media (--read) {
		max-height: 292px;
		max-width: 292px;
	}
}

.search-form--blog {
	display: inline-flex;
	width: 60%;
	max-width: 450px;
	margin-left: auto;
}

body.infinite-scroll:not(.infinity-end) .search-form--blog {
	width: 100%;
	transform: translateY(-50px);
}

.search-field--blog {
	width: calc(100% - 100px);
	letter-spacing: 0.5px;
}

.search-submit {
	font-family: var(--display-font-family);
	width: 100px;
}

:root:root .infinite-scroll .pagination-wrapper {
	width: 100%;
	margin: 0 auto;
	display: flex;
}

.infinite-scroll main {
	text-align: right;
	margin-bottom: var(--gutter);
}

.infinite-scroll main > * {
	text-align: left;
}
