.home .wp-block-cover.alignfull {
	height: calc(100vh - 320px);
}

.home-intro-block .v-wave {
	color: #a6f177;
	opacity: 1;
	top: 0;
	width: 100%;
	left: 0;
}

.home-intro-block .wp-block-group {
	z-index: 1;
}

.pop .wp-block-columns {
	min-height: 200px;
}

:root:root .wp-block-column.supcol {
	position: absolute;
	bottom: 0;
	width: 25vw;
	height: 200px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition-duration: 0.25s;
	transition-timing-function: var(--ease);
	transition-property: all;
}

.pop .wp-block-cover {
	z-index: 2;
}

.supcol * {
	transition: inherit;
}

.supcol .wp-block-cover__inner-container {
	max-width: 254px;
}

.wp-block-column.supcol:not(:first-of-type) {
	left: 25vw;
}

.supcol .wp-block-group.popbody {
	/* height: 0; */
	opacity: 0;
	position: absolute;
	max-width: 254px;
}

:root .supcol:not(:hover) .wp-block-cover::before {
	opacity: 1;
}

.wp-block-group.cat-thumbs {
	margin-bottom: var(--gutter);

	img {
		width: 100%;
	}

	a {
		display: block;
	}

	figcaption {
		font-size: var(--text-small);
		font-weight: normal;
		letter-spacing: 0.5px;
		padding: 0;
		margin-top: 0.5rem;
		margin-bottom: 0;
	}
}

.cat-thumbs > .wp-block-group__inner-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;

	@media (--phab) {
		grid-template-columns: repeat(4, 1fr);
	}

	@media (--read) and (--content_down) {
		grid-template-columns: repeat(3, 1fr);
	}

	@media (--content) {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (--read) and (--content_down) {
	.cat-thumbs .wp-block-image:nth-child(n + 7) {
		display: none;
	}
}

.all-cats-btn .wp-block-button__link {
	min-width: 142px;
	padding-left: 0;
	padding-right: 0;
}

.supcol:hover .wp-block-group.popbody {
	/* height: auto; */
	opacity: 1;
	position: unset;
	width: auto;
}

:root .supcol:nth-of-type(1):hover {
	height: 400px;
	height: calc(var(--pop-one-height) + 200px);
}

:root .supcol:nth-of-type(2):hover {
	height: 400px;
	height: calc(var(--pop-two-height) + 200px);
}

@media (--phab) and (--wide_down) {
	.supcol .is-style-display-font.v-right-arrow-white {
		width: 100%;
	}
}

@media (--read_down) {
	.wp-block-group.pop {
		position: absolute;
		top: 0;
		width: 60vw;
		left: 40vw;
	}

	:root:root .wp-block-column.supcol {
		width: 30vw;

		&:not(:first-of-type) {
			left: 30vw;
		}
	}

	.wp-block-column.home-intro-block {
		width: 100%;
		flex: 1 auto !important;
	}
}

@media (max-width: 680px) {
	.wp-block-group.pop {
		display: none;
	}

	:root .catalog-row .wp-block-column.home-intro-block {
		padding-top: 0;
	}

	.catalog-row .home-intro-block .v-right-arrow-white a {
		background-color: #000;
		padding: 1.5rem;
		display: block;
		text-align: center;
		margin-left: -2rem;
		width: 100vw;
	}
}

@media (--phab_down) {
	.catalog-row {
		margin-bottom: 0 !important;
	}

	.pop .wp-block-columns {
		min-height: 200px;
		display: flex;
		position: relative;
		width: 60vw;
	}

	:root:root .wp-block-column.supcol {
		position: relative;
		display: block;
		left: 0;
	}

	:root .supcol .wp-block-cover__inner-container {
		margin: 0 0 0 1rem;
	}

	:root .supcol p.is-style-display-font {
		width: 100%;
	}

	:root:root .catalog-row .u-max-width-lg.u-ml-auto {
		margin-left: var(--base-space);
	}

	:root:root .catalog-row .u-max-width-400 {
		max-width: var(--content-half);
	}

	.catalog-row .home-intro-block .v-right-arrow-white a {
		margin-left: -1.5rem;
	}
}

.wp-block-columns.gallery-offset {
	justify-content: space-between;
}

.gallery-offset .wp-block-column {
	max-width: calc(50% - var(--base-half));
}

.gallery-offset figure.wp-block-image {
	margin-bottom: 1.5rem;
	margin-inline: 0;
	width: 100%;
}

.gallery-offset .wp-block-image img {
	width: 100%;
	max-height: 367px;
	object-fit: cover;
}

.gallery-offset .wp-block-image figcaption {
	font-size: var(--h5);
	letter-spacing: -1px;
	font-weight: bold;
	margin: 0;
	position: absolute;
	bottom: 0;
	width: 100%;
	max-height: 100%;
	overflow: auto;
	padding: 2rem;
	color: #fff;
	text-align: left;
	opacity: 1;
	background: linear-gradient(
		0deg,
		rgba(0, 0, 0, 0.35),
		rgba(0, 0, 0, 0.2) 70%,
		transparent
	);
}

.gallery-offset .wp-block-button,
.gallery-offset .wp-block-button__link {
	display: block;
}

footer .v-sail {
	top: 15%;
	left: calc(100vw - 558px);
	width: 100%;
	max-width: 843px;
}

:root:root .u-max-width-400 {
	max-width: 452px;
}

.menu__items--primary .menu__link:matches(:focus, :hover) {
	background-color: var(--background_color);
	color: var(--foreground_color);
	opacity: 1;
}

li.has-children:hover {
	position: relative;
}

.home .connect-callout {
	max-width: none;
	padding-top: 2.75rem;
	padding-inline: 2.75rem;
	background: linear-gradient(180deg, #74b74a 0%, #639a40 100%);

	@media (--read) {
		max-width: 814px;
	}

	.wp-block-columns {
		width: 100%;
		max-width: none;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 19px;
		transform: translateY(50%);
		position: relative;
		z-index: 1;

		@media (--content) {
			transform: translateY(33%);
		}

		@media (--wide) {
			width: 120%;
			max-width: 872px;
			grid-template-columns: repeat(4, 1fr);
		}
	}

	h5 {
		font-family: var(--display-font-family);
		font-weight: var(--display-normal);
		margin-bottom: var(--base-space);
	}

	.wp-block-column {
		max-width: none;
		width: 100%;
		height: 227px;
		display: flex;
		flex-direction: column;
		padding: var(--base-space);
	}

	.wp-block-button {
		margin-top: auto;
	}
}

@media (--read_down) {
	:root:root .wp-block-columns.home-row__slider__callout {
		flex-direction: column;
		margin-bottom: 0;
	}

	.home .wp-block-group.connect-callout {
		margin-bottom: 0;
		width: 100%;
	}

	.u-max-width-lg {
		margin-inline: auto;
	}

	:root:root .wp-block-group.u-max-width-md.u-ml-auto {
		width: 100%;
		max-width: none;
	}
}

.home-row__slider__callout .is-style-btn-small-outline.u-ml-auto {
	padding-right: 1rem;
}

.gallery-offset {
	.wp-block-image {
		width: calc(22vw + 0.5rem);
		max-width: 367px;
		min-width: 134px;
	}

	img {
		height: calc(22vw + 0.5rem);
		max-height: 367px;
		min-height: 134px;
	}
}

.home-dc-callout {
	margin-left: auto;

	.wp-block-group__inner-container {
		display: flex;
		flex-direction: column;
	}

	.wp-block-image img {

		@media (--tab) {
			max-width: 604px;
			max-height: 608px;
			width: 40vw;
			height: calc(40vw + 4px);
			width: 100%;
			object-fit: cover;
		}
	}
}

:root:root:root .wp-block-button.all-cats-btn {
	margin-right: 0;
}

.connect-call {
	margin-left: 0;

	> .wp-block-group__inner-container {
		grid-template-rows: auto !important;
	}

	.contact-cards .wp-block-group.has-theme-primary-dark-background-color {
		z-index: 1;

		> .wp-block-group__inner-container {
			display: flex;
			flex-direction: column;
			height: 100%;
			flex: 1;

			.wp-block-button {
				margin-top: auto;
			}
		}
	}

	@media (--read_down) {
		max-width: 100% !important;
		width: 100% !important;
	}
}

@media (--content_down) {
	.connect-call {
		padding-inline: 1.5rem !important;

		.contact-cards > .wp-block-group__inner-container {
			display: flex;
			flex-wrap: wrap;

			> .wp-block-group {
				padding-inline: 1rem;
				width: 100%;
				max-width: calc(50% - var(--base-space));
			}

			/* p.has-sub-font-size {
				display: none;
			} */
		}
	}
}

@media (--read_down) {
	.wp-block-group.alignfull.has-theme-foreground-background-color.has-background.u-pt-xxl.u-pb-xxxl.u-mb0.u-mt0 .wp-block-columns.alignwide {
		flex-direction: column;
	}
}
