.search-results {
	--image-square: calc(20vw - var(--gutter-x));
	--image-square-max: 292px;
}

.search-results h2.entry__title {
	font-size: 1rem;
	line-height: 1.5;
	letter-spacing: 0.5px;
}

.search-results .o-grid {
	grid-template-columns: repeat(auto-fit, minmax(calc(20% - 1.5rem), 1fr));
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-gap: var(--base-space);
}

.search-results .entry .wp-post-image {
	max-width: var(--image-square-max);
	max-height: var(--image-square-max);
	height: var(--image-square);
	width: var(--image-square);
	display: block;
}

.search-results .entry {
	max-width: var(--image-square-max);
	width: var(--image-square);
	min-width: 100px;
}
