/* ////
/// Cover image block.
///
/// @group  Blocks
/// @author Marty Helmick <info@martyhelmick.com>
/// @link   https://github.com/m-e-h/forsite
//// */

.wp-block-cover-image {
	position: relative;
	background-size: cover;
	background-position: 50%;
	min-height: 25rem;
	width: 100%;
	margin: 0 0 $base-space;
	display: flex;
	justify-content: center;
	align-items: center;

	/* // Background dim. */
	&.has-background-dim::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}

	/* // The background dim can be any number from 10-100. We're just running
	// a simple loop to add a black background color over the element. */
	/* @for $dim from 1 through 10 {

		&.has-background-dim-#{ $dim * 10 }

		::before {
			background-color: rgba( color-mod( black ), $dim * 0.1 );
		}
	} */

	/* // Left/Right text content. */
	&.has-left-content {
		justify-content: flex-start;
	}

	&.has-right-content {
		justify-content: flex-end;
	}
}

/* // Paragraph of text shown within the cover image element. */
.wp-block-cover-image-text {
	color: color-mod( white );
	font-size: $h2;
	line-height: 1.25;
	z-index: 1;
	margin-bottom: 0;
	max-width: $container;
	padding: 1rem;
	text-align: center;

	& a,
	& a:hover,
	& a:focus,
	& a:active {
		color: color-mod( white );
	}
}

/* // Left-aligned text. */
.has-left-content .wp-block-cover-image-text {
	margin-left: 0;
	text-align: left;
}

/* // Right-aligned text. */
.has-right-content .wp-block-cover-image-text {
	margin-right: 0;
	text-align: right;
}
