/* ////
/// Cover image block.
///
/// @group  Blocks
/// @author Marty Helmick <info@martyhelmick.com>
/// @link   https://github.com/m-e-h/forsite
//// */

.wp-block-cover-image {
	position: relative;
	background-size: cover;
	background-position: 50%;
	min-height: 25rem;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	/* // Background dim. */
	&.has-background-dim::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}

	&.has-background-dim-10::before,
	&.has-background-dim-20::before {
		background-color: color-mod($color-grey-char-dark a(0.15));
	}

	&.has-background-dim-30::before,
	&.has-background-dim-40::before {
		background-color: color-mod($color-grey-char-dark a(0.35));
	}

	&.has-background-dim-50::before,
	&.has-background-dim-60::before {
		background-color: color-mod($color-grey-char-dark a(0.55));
	}

	&.has-background-dim-70::before,
	&.has-background-dim-80::before {
		background-color: color-mod($color-grey-char-dark a(0.75));
	}

	&.has-background-dim-90::before {
		background-color: color-mod($color-grey-char-dark a(0.9));
	}

	/* // Left/Right text content. */
	&.has-left-content {
		justify-content: flex-start;
	}

	&.has-right-content {
		justify-content: flex-end;
	}
}

/* // Paragraph of text shown within the cover image element. */
.wp-block-cover-image-text {
	color: var(--color-text-light);
	font-size: $h2;
	line-height: 1.25;
	z-index: 1;
	margin-bottom: 0;
	max-width: var(--paragraph-width);
	padding: 1rem;
	text-align: center;

	& a,
	& a:hover,
	& a:focus,
	& a:active {
		color: var(--color-text-light);
	}
}

/* // Left-aligned text. */
.has-left-content .wp-block-cover-image-text {
	margin-left: 0;
	text-align: left;
}

/* // Right-aligned text. */
.has-right-content .wp-block-cover-image-text {
	margin-right: 0;
	text-align: right;
}
