article > div > * {
	margin: var(--base-space) auto;
	max-width: var(--content-width);
	padding-left: 1rem;
	padding-right: 1rem;
}

.entry__content h1,
.entry__content h2,
.entry__content h3,
.entry__content h4,
.entry__content h5,
.entry__content h6 {
	margin-top: 1.5em;
	margin-bottom: 1em;
}

/* .wp-block-video video {
  max-width: var(--content-width);
}

.wp-block-image img {
  display: block;
} */
