/* ////
/// Pullquote block.
///
/// @group  Blocks
/// @author Marty Helmick <info@martyhelmick.com>
/// @link   https://github.com/m-e-h/forsite
//// */

.wp-block-pullquote {
	color: var(--color-2-dark);
	padding: var(--base-space) 0;
	text-align: center;
	border-top: 0.25rem solid var(--color-2);
	border-bottom: 0.25rem solid var(--color-2);

	& blockquote {
		text-align: center;
		margin: 0 var(--base-space);
		border: none;
	}
}
