/* ////
/// Pullquote block.
///
/// @group  Blocks
/// @author Marty Helmick <info@martyhelmick.com>
/// @link   https://github.com/m-e-h/forsite
//// */

.wp-block-pullquote {
	padding: $h1 0;
	text-align: center;
	border-top: 4px solid #555d66;
	border-bottom: 4px solid #555d66;

	& blockquote {
		text-align: center;
		margin: 0 $base-space;
		border-left: none;
	}
}
