/* ////
/// Subhead block.
///
/// @group  Blocks
/// @author Marty Helmick <info@martyhelmick.com>
/// @link   https://github.com/m-e-h/forsite
//// */

.wp-block-subhead {
	font-size: $h5;
	font-style: italic;
	opacity: 0.75;
}
