@import "o.grid";
@import "o.layouts";
@import "o.lists";
@import "o.image";
@import "o.buttons";
@import "o.embeds";
@import "o.nav";
@import "o.breadcrumbs";

/* WP core blocks. */
@import "wp.cover";
@import "wp.file";
@import "wp.gallery";
@import "wp.latest-posts";
@import "wp.pullquote";
@import "wp.shame";

/* input,
select,
textarea,
button {
	box-shadow: 10px 5px 5px red;
	min-height: 4.5rem;
	background-image: url("https://mdn.mozillademos.org/files/6457/mdn_logo_only_color.png");
    background-position: 40% 80%;
    background-size: 100vw 40vw;
    background-repeat: repeat;
    background-origin: padding-box;
    background-clip: border-box;
    background-attachment: fixed;
    background-color: red;
} */

.wp-block-audio {
	margin: 0;

	audio {
		width: 100%;
	}
}

div.wp-block-code {

	@extend pre;
}

[aria-label="Code"] {

	@extend code;
}

/* // Editor specific styling. Make sure columns span correctly. */
.editor-inner-blocks {
	flex: 1;
}

.wp-block-preformatted {
}

.wp-block-quote {
	padding-left: 1em;

	& cite {
	}
}

.wp-block-subhead {
	font-size: $h5;
	font-style: italic;
	opacity: 0.75;
}

.wp-block-table {

	&.has-fixed-layout {
	}
}

.wp-block-verse {
}
