/* #BREADCRUMBS
\*------------------------------------ */

.breadcrumbs {

	font-size: $h6;
	font-style: italic;
	margin-top: var(--gutter);
	margin-bottom: var(--gutter);
	width: 100%;

	& ol {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		margin: 0;
	}

	& li {
		display: inline-flex;
		align-items: center;
		flex: 0 1 auto;

		&:not(:last-of-type)::after {
			margin: 0 0.3em -0.05em;
			content: "/";
			font-size: 1.25em;
		}
	}
}

.breadcrumbs a {
	color: inherit;
	opacity: 0.9;
	padding: 0.25rem 0.5rem;

	&:hover {
		opacity: 1;
	}
}

.breadcrumbs li:last-of-type {
	padding-left: 0.5rem;
	opacity: 0.5;
}
