/* #BREADCRUMBS
\*------------------------------------ */

.breadcrumbs {
	font-size: var(--h6);
	font-style: italic;
	margin-bottom: var(--gutter);
	width: 100%;

	ol {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		margin: 0;
	}

	li {
		display: inline-flex;
		align-items: center;
		flex: 0 1 auto;

		&:not(:last-of-type)::after {
			margin: 0 0.3em -0.05em;
			content: "/";
			font-size: 1.25em;
		}
	}
}

.breadcrumbs li:last-of-type {
	padding-left: 0.5rem;
	opacity: 0.5;
}
