/* #BREADCRUMBS
\*------------------------------------ */

.breadcrumbs {

	margin-top: var(--gutter);
	margin-bottom: var(--gutter);

	& ol {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		font-size: $h6;
		margin: 0;
	}

	& li {
		display: inline-flex;
		align-items: center;
		font-style: italic;
		flex: 0 1 auto;

		&:not(:last-of-type)::after {
			margin: 0 0.3em -0.05em;
			content: "/";
			font-size: 1.25em;
		}
	}
}

.breadcrumbs a {
	color: inherit;
	font-weight: normal;
	opacity: 0.9;
	padding: 0.25rem 0.5rem;

	&:hover {
		opacity: 1;
	}
}

.breadcrumbs li:last-of-type {
	padding-left: 0.5rem;
	opacity: 0.5;
}

body:not(.search) .trail-end > span,
.search .archive-title {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
