/* --------------------------------------------------------------
# Buttons
-------------------------------------------------------------- */

.btn,
.button,
.wp-block-button__link {

	@extend %e_button;
}

.wp-block-button {
	color: inherit;

	&:first-child {
		padding-left: 0;
	}
}

input[type="reset"],
input[type="button"],
.is-style-outline .wp-block-button__link {
	background-color: transparent;
	border-width: 2px;

	&:hover,
	&:focus {
		border-color: currentColor;
	}
}
