.button,
.button[type="submit"],
:root:root form .button,
:root .wp-block-button__link,
.post-edit-link,
:root:root .wp-block-file .wp-block-file__button {
	@extend %e_button;

	background-color: var(--color-1);
	color: white;
	font-size: inherit;
	display: inline-flex;
}

main .wp-block-button {
	display: inline-block;
	margin-bottom: var(--base-space);

	&:first-child {
		padding-left: 0;
	}
}

.is-style-btn-small,
.is-style-btn-small-outline {
	font-size: 0.75rem;
}

:root .btn-hollow,
button.is-style-btn-small-outline,
a.is-style-btn-small-outline,
:root .is-style-btn-small-outline .wp-block-button__link,
:root .is-style-outline .wp-block-button__link {
	background-color: transparent;
	color: var(--color-bg-dynamic, inherit);
	position: relative;

	&:not(.has-background)::before {
		content: "";
		border: 1px solid currentColor;
		opacity: 0.2;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		position: absolute;
		transition: inherit;
	}

	&:hover {
		border-color: transparent;
		box-shadow: none;

		&::before {
			opacity: 0.5;
		}
	}
}

.edit-link-container {
	margin: 0;
	position: relative;
	display: flex;
	justify-content: flex-end;
}

:root .post-edit-link {
	position: absolute;
	bottom: 0;
	margin: 1rem;
	font-size: 0.9rem;
	opacity: 0.7;
}

:root:root .is-style-link-btn {
	display: block;
	margin-bottom: 1rem;
}

.is-style-link-btn .wp-block-button__link {
	background-color: #fff;
	color: #000;
	text-align: left;
	padding: var(--base-space);
	min-height: var(--h0);
	border-color: var(--theme_gray);
	width: 100%;
	justify-content: space-between;
	font-size: var(--h5);
	font-family: var(--font-family);
	font-weight: var(--font-bold);

	&::after {
		content: var(--arrow-right-white);
		width: 1.25em;
		display: inline-block;
		vertical-align: middle;
		margin-left: 0.8em;
	}

	&:active,
	&:hover,
	&:focus {
		border-color: transparent;
		color: #fff;
		background-color: var(--color-1);
	}
}

.wp-block-button__link.has-theme-gray-light-background-color {
	border-color: var(--theme_gray);
}

.u-flex > .wp-block-button__link {
	flex: 1;
}
