/* .comments {
	margin-top: var(--gutter);
}

.comment-respond__form {
	display: flex;
	flex-wrap: wrap;
}

.comment-respond__form > * {
	width: 100%;
}

.comment-respond__field--author {
	margin-right: auto;
}

.comment-respond__field--author,
.comment-respond__field--email {
	width: auto;
}

.comment-respond__field--submit {
	text-align: right;
}

.comment-respond__reply-title {
	font-size: var(--h4);
}

ul.children {
	padding-left: var(--base-space);
}

.comment {
	margin-block: var(--base-space) var(--base-double);
}

.comment__meta,
.avatar {
	display: inline-block;
	vertical-align: baseline;
}

.comment__meta {
	margin: 0 1rem;
}

.comment-reply-link {
	font-size: var(--h6);
} */
