.app-header__branding {
	text-align: center;
}

.app-header__title {
	font-size: var(--h4);
}

.app-header__title,
.app-header__description {
	margin: 0 0.5rem;
}

.app-header__logo {
	padding-top: 0.5rem;
}

.archive-entry__header {
	padding-bottom: 0.5rem;
}

.archive-entry {
	max-width: var(--content-width);
	margin-left: auto;
	margin-right: auto;

	--hover-shadow: inset 0 -20em 0 0 var(--color-shade-1);
}

.archive-entry > * {
	max-width: unset;
}

.archive-entry .more-link {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	color: inherit;
}

.ellipsis-more {
	bottom: 0;
	right: 0.25rem;
	position: absolute;
	font-size: 2rem;
	line-height: 1.2;
}

.archive-entry .more-link:matches(:hover, :focus) {
	box-shadow: none;
	background-color: var(--color-frost-2);
}

hr.is-style-wide.is-style-wide {
	width: 100%;
	max-width: 100%;
	border-bottom-width: 2px;
}

hr.is-style-dots.is-style-dots {
	background: none;
	border-width: 0;
	height: 1rem;
	line-height: inherit;
	text-align: center;
	width: 9rem;
	background-image: radial-gradient(currentColor 10%, transparent 10%);
	background-position: 0;
	background-size: 3rem 3rem;

	&::before {
		content: none;
	}
}

p.has-background {
	padding: 0.75rem 1rem;
}
