.app-header__branding {
	text-align: center;
}

.app-header__title {
	font-size: var(--h4);
}

.app-header__title,
.app-header__description {
	margin: 0 0.5rem;
}

.app-header__logo {
	padding-top: 0.5rem;
}

.archive-entry__header {
	margin-bottom: 0;
}

hr.is-style-wide.is-style-wide {
	width: 100%;
	max-width: 100%;
	border-bottom-width: 2px;
}

hr.is-style-dots.is-style-dots {
	background: none;
	border-width: 0;
	height: 1rem;
	line-height: inherit;
	text-align: center;
	width: 9rem;
	background-image: radial-gradient(currentColor 10%, transparent 10%);
	background-position: 0;
	background-size: 3rem 3rem;

	&::before {
		content: none;
	}
}

p.has-background {
	padding: 0.75rem 1rem;
}
