.entry__content {
	width: 100%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding-left: var(--base-space);
	padding-right: var(--base-space);
	max-width: var(--content-width);
}

hr:not(.is-style-wide) {
	max-width: 200px;
}

hr.is-style-dots.is-style-dots {
	color: inherit;
	background: none;
	border: none;
	height: auto;
	text-align: center;

	&::before {
		content: "\00b7 \00b7 \00b7";
		font-family: serif;
		font-size: $h2;
		letter-spacing: $h2;
		padding-left: $h2;
	}
}

.wp-block-media-text__content > * {
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}
