ul.menu__items {
	margin: 0;
}

.menu-toggle {
	display: inline-block;
	background-color: transparent;
	font-size: 1.5rem;
	padding: 0;
	margin: 0.25rem;
	margin-left: auto;
	height: var(--h1);
	width: var(--h1);
	line-height: 1;

	@media (--md) {
		display: none;
	}
}

.pagination {
	text-align: center;
}

.pagination__anchor--current {
	font-weight: bold;
	padding: var(--button-padding);
	line-height: var(--heading-line-height);
}

.nav-links {
	display: flex;
	opacity: 0.7;
	justify-content: space-between;
}
