.menu-toggle {
	display: inline-block;
	background-color: transparent;
	font-size: 1.5rem;
	padding: 0;
	margin: 0.25rem;
	margin-left: auto;
	height: var(--h1);
	width: var(--h1);
	line-height: 1;

	@media (--md) {
		display: none;
	}
}
