table.is-style-stripes.is-style-stripes tr:nth-of-type(2n + 1) {
	background-color: var(--color-shade-1);
}

table.is-style-stripes.is-style-stripes {
	border-bottom: 1px solid var(--color-shade-2);
}

table.has-fixed-layout {
	table-layout: fixed;
}
