/* ////
/// Cover image block.
///
/// @group  Blocks
/// @author Marty Helmick <info@martyhelmick.com>
/// @link   https://github.com/m-e-h/forsite
//// */

.wp-block-cover {
	position: relative;
	background-size: cover;
	background-position: 50%;
	background-color: $color-grey-char-dark;
	min-height: 25rem;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	/* // Background dim. */
	&.has-background-dim::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: inherit;
		opacity: 0.5;
	}

	&.has-background-dim-10::before {
		opacity: 0.1;
	}

	&.has-background-dim-20::before {
		opacity: 0.2;
	}

	&.has-background-dim-30::before {
		opacity: 0.3;
	}

	&.has-background-dim-40::before {
		opacity: 0.4;
	}

	&.has-background-dim-50::before {
		opacity: 0.5;
	}

	&.has-background-dim-60::before {
		opacity: 0.6;
	}

	&.has-background-dim-70::before {
		opacity: 0.7;
	}

	&.has-background-dim-80::before {
		opacity: 0.8;
	}

	&.has-background-dim-90::before {
		opacity: 0.9;
	}

	&.has-background-dim-100::before {
		opacity: 1;
	}

	/* // Left/Right text content. */
	&.has-left-content {
		justify-content: flex-start;
	}

	&.has-right-content {
		justify-content: flex-end;
	}
}

/* // Paragraph of text shown within the cover image element. */
.wp-block-cover-text {
	color: #fff;
	font-size: $h2;
	line-height: 1.25;
	z-index: 1;
	margin-bottom: 0;
	max-width: var(--paragraph-width);
	padding: 1rem;
	text-align: center;

	& a {
		opacity: inherit;
		color: inherit;
	}
}

/* // Left-aligned text. */
.has-left-content .wp-block-cover-text {
	margin-left: 0;
	text-align: left;
}

/* // Right-aligned text. */
.has-right-content .wp-block-cover-text {
	margin-right: 0;
	text-align: right;
}
