.wp-block-columns {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: var(--half-space);
}

.wp-block-column.wp-block-column {
	margin: 0 var(--half-space) var(--base-space);
	overflow-wrap: break-word;
	flex: auto;
	width: calc(100% - var(--base-space));
	min-width: 120px;

	@media (--md) {
		min-width: 90px;

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}
	}
}

.wp-block-column :last-child {
	margin-bottom: 0;
}

.has-2-columns .wp-block-column {
	width: calc(100% / 2 - 2rem);
}

.has-3-columns .wp-block-column {
	width: calc(100% / 3 - 2rem);
}

.has-4-columns .wp-block-column {
	width: calc(100% / 4 - 2rem);
}

.has-5-columns .wp-block-column {
	width: calc(100% / 5 - 2rem);
}

.has-6-columns .wp-block-column {
	width: calc(100% / 6 - 2rem);
}
