/*
File block.

@group  Blocks
@author Marty Helmick <info@martyhelmick.com>
@link   https://github.com/m-e-h/forsite
*/

.wp-block-file {
	margin-bottom: var(--gutter);
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	&.aligncenter {
		text-align: center;
	}

	&.alignright {
		text-align: right;
	}
}

.wp-block-file a:not([class]) {
	text-decoration: none;
	margin-right: var(--base-space);
}

:root:root:root .wp-block-file__button:any-link {
	opacity: 1;
	color: inherit;
	margin: 0;
}
