/*
File block.

@group  Blocks
@author Marty Helmick <info@martyhelmick.com>
@link   https://github.com/m-e-h/forsite
*/

.wp-block-file {
	margin-bottom: var(--gutter);

	&.aligncenter {
		text-align: center;
	}

	&.alignright {
		text-align: right;
	}
}

.wp-block-file__button.wp-block-file__button.wp-block-file__button {

	@extend %e_button;

	font-size: var(--h6);

	&:hover,
	&:focus {
		opacity: 1;
		color: inherit;
	}
}

/* Give the file block button some spacing if element precedes it. */
* + .wp-block-file__button {
	margin-left: 1rem;
}
