/* ////
/// File block.
///
/// @group  Blocks
/// @author Marty Helmick <info@martyhelmick.com>
/// @link   https://github.com/m-e-h/forsite
//// */

.wp-block-file {
	margin-bottom: $base-space;

	&.aligncenter {
		text-align: center;
	}

	&.alignright {
		text-align: right;
	}
}

.wp-block-file__button {

	@extend %e_button;
}

/* // Give the file block button some spacing to the left if there's another element preceding it. */
* + .wp-block-file__button {
	margin-left: 1rem;
}
