/*
 * Gallery block.
 *
 * @group  Blocks
 * @author Marty Helmick <info@martyhelmick.com>
 * @link   https://github.com/m-e-h/forsite
 */

.wp-block-gallery.wp-block-gallery.wp-block-gallery {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	padding: 0;
}

.blocks-gallery-item figure {
	margin: 0;
	height: 100%;
}

.blocks-gallery-item figcaption:not(.block-editor-rich-text__editable) {
	background: linear-gradient(rgba(0, 0, 0, 0), var(--color-tint-4));
	bottom: 0;
	color: #fff;
	font-size: var(--h6);
	max-height: 100%;
	overflow: auto;
	padding: 2.5rem 0.5rem 0.5rem;
	position: absolute;
	text-align: center;
	width: 100%;
}

.is-cropped .blocks-gallery-item {

	a,
	img {
		flex: 1;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

/* Needs extra specificity to override WP styles. */
.blocks-gallery-item.blocks-gallery-item.blocks-gallery-item.blocks-gallery-item {
	flex: auto;
	margin: 0.5vw;
	min-width: 120px;
}

.blocks-gallery-item.blocks-gallery-item {
	width: calc(100% / 2 - 1vw);
}

/* 1 column. */
.columns-1 .blocks-gallery-item.blocks-gallery-item {
	width: calc(100% / 1 - 1vw);
}

@media (--md) {

	.columns-3 .blocks-gallery-item.blocks-gallery-item {
		width: calc(100% / 3 - 1vw);
	}

	.columns-4 .blocks-gallery-item.blocks-gallery-item {
		width: calc(100% / 4 - 1vw);
	}

	.columns-5 .blocks-gallery-item.blocks-gallery-item {
		width: calc(100% / 5 - 1vw);
	}

	.columns-6 .blocks-gallery-item.blocks-gallery-item {
		width: calc(100% / 6 - 1vw);
	}
}
