/* ////
/// Gallery block.
///
/// @group  Blocks
/// @author Marty Helmick <info@martyhelmick.com>
/// @link   https://github.com/m-e-h/forsite
//// */

/* // The wrapper element for the entire gallery. */
.wp-block-gallery.wp-block-gallery.wp-block-gallery {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	padding: 0;
}

/* // The wrapper for individual gallery images/figures. */
.blocks-gallery-item.blocks-gallery-item.blocks-gallery-item {
	flex: auto;
	width: calc(100% / 2 - 1vw);
	margin: 0.5vw;

	/* Image figure. */
	& figure {
		margin: 0;
		height: 100%;
	}

	& figcaption {
		position: absolute;
		bottom: 0;
		width: 100%;
		max-height: 100%;
		padding: $h1 $h6 0.5rem;
		text-align: center;
		color: white;
		background: linear-gradient(
			0deg,
			rgba(0, 0, 0, 0.7) 0,
			rgba(0, 0, 0, 0.3) 60%,
			transparent
		);

		& img {
			display: inline;
		}
	}
}

.is-cropped .blocks-gallery-item {
	& a,
	& img {
		flex: 1;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

/* // 1 column. */
.columns-1 .blocks-gallery-item.blocks-gallery-item {
	width: calc(100% / 1 - 1vw);
}

@media (--md) {
	.columns-3 .blocks-gallery-item.blocks-gallery-item {
		width: calc(100% / 3 - 1vw);
	}

	.columns-4 .blocks-gallery-item.blocks-gallery-item {
		width: calc(100% / 4 - 1vw);
	}

	.columns-5 .blocks-gallery-item.blocks-gallery-item {
		width: calc(100% / 5 - 1vw);
	}

	.columns-6 .blocks-gallery-item.blocks-gallery-item {
		width: calc(100% / 6 - 1vw);
	}
}
