/**
/// Latest posts block.
///
/// @group  Blocks
/// @author Marty Helmick <info@martyhelmick.com>
/// @link   https://github.com/m-e-h/forsite
*/

.wp-block-latest-posts.is-grid {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	list-style: none;
	justify-content: space-around;

	li {
		margin: 0.5rem;
		width: auto;
	}
}

.wp-block-latest-posts__post-date {
	color: var(--color-text-muted);
	display: block;
	font-size: var(--h6);
	font-style: italic;
}
