/* ////
/// Pullquote block.
///
/// @group  Blocks
/// @author Marty Helmick <info@martyhelmick.com>
/// @link   https://github.com/m-e-h/forsite
//// */

.wp-block-pullquote {
	color: var(--color-2-dark);
	padding: 0;
	border: 0;

	& blockquote {
		text-align: center;
		border: none;
		padding-top: var(--base-space);
		padding-bottom: var(--base-space);
		border-top: 0.25rem solid var(--color-2);
		border-bottom: 0.25rem solid var(--color-2);
		margin: 0;
	}
}

blockquote.has-text-color {
	border-color: currentColor;
}

.wp-block-quote.is-style-large {
	font-size: var(--h4);
}

.wp-block-quote.wp-block-quote p {
	font-style: italic;
	line-height: inherit;
	font-size: inherit;
}

.wp-block-quote.wp-block-quote cite {
	font-size: 0.75em;
	text-align: right;
}
