/* ////
/// Pullquote block.
///
/// @group  Blocks
/// @author Marty Helmick <info@martyhelmick.com>
/// @link   https://github.com/m-e-h/forsite
//// */

.wp-block-pullquote {
	color: var(--color-1-dark);
	text-align: center;
	padding: 0;
	border-width: 0;

	& blockquote {
		padding-top: var(--base-space);
		padding-bottom: var(--base-space);
		margin: 0;
		border-width: 0.2rem 0;
		border-style: solid;
		border-color: currentColor;
	}
}

.wp-block-quote.is-style-large {
	font-size: var(--h4);
}

.wp-block-pullquote.wp-block-pullquote p
.wp-block-quote.wp-block-quote p {
	font-style: inherit;
	line-height: inherit;
	font-size: inherit;
}

.wp-block-quote.wp-block-quote cite {
	font-size: 0.75em;
	text-align: right;
}

.is-style-solid-color blockquote {
	color: #fff;
	background-color: var(--color-1-dark);
	border-radius: $border-radius;
}

.is-style-solid-color.is-style-solid-color {
	border-width: 0;
}

.is-style-solid-color.is-style-solid-color blockquote {
	max-width: 100%;
	text-align: inherit;
	margin: 0;
}

.wp-block-pullquote.alignleft,
.wp-block-pullquote.alignright {
	max-width: none;
}

.alignleft blockquote,
.alignright blockquote,
.aligncenter blockquote {
	width: 50%;
	min-width: 300px;
}

/* Hack */
.is-style-solid-color[class*="-background-color"] blockquote {
	background-color: transparent;
	border-width: 0;
}
