.wp-block {
	max-width: var(--content-width);
}

.wp-block[data-align="full"] {
	max-width: none;
}

.wp-block[data-align="wide"] {
	max-width: var(--content-wide);
}

.wp-block-embed__wrapper {
	position: relative;

	&::before {
		content: none !important;
	}
}

.wp-block-cover-text p {
	color: inherit;
	font-size: $h2;
}

.entry__content h4:first-child {
	margin-top: 0;
}

/* @media (--md_down) {

	.wp-block-media-text {
		display: flex;
		flex-direction: column;
	}
} */

.icon {
	height: 1em;
}

.wp-block-cover {
	background-position-x: 0;
}

.entry__content figcaption {

	@extend %e_figcaption;
}

.wp-block-preformatted {
	background-color: transparent;
	padding: 0;
}

.wp-block-verse {
	font-size: var(--h5);
	font-style: italic;
	background-color: transparent;
	padding: 0;
}

.wp-block-column :last-child {
	margin-bottom: 0;
}

p.has-background {
	padding: 0.75rem 1rem;
}
