.wp-block {
	max-width: var(--content-width);
}

.wp-block[data-align="full"] {
	max-width: none;
}

.wp-block[data-align="wide"] {
	max-width: var(--content-wide);
}

.icon {
	height: 1em;
}

.wp-block-cover {
	background-position-x: 0;
}

p.has-background {
	padding: 0.75rem 1rem;
}

.wp-block-image {
	margin-bottom: var(--base-space);
}
