/**
 * Override WP giving all .wp-block-image a max-width and margin-bottom.
 * .wp-block-image { max-width: 100%; margin-bottom: 1em
 */
.wp-block-image {
	margin-bottom: var(--base-space);
	max-width: var(--content-width);
}

.wp-block-image > figure {
	margin-bottom: 0;
}

.wp-block-embed {
	margin-bottom: var(--gutter);
}
